<div class="column is-12-mobile is-5-tablet is-4-desktop post"><a href="/en/seo-services/case-study-n26">
        <figure class="image is-4by3">
            <img src="/images/clients/n26_dark.svg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Case Study: N26
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span> 29 Mar
    2019</span>
    <br><br>
    <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>

</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post"> <a href="/en/seo-services/seo-in-asia-korea-china-japan-2020">
        <figure class="image is-4by3">
            <img src="/images/seo-images/asia.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            SEO in Asia
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>27 May
    2019</span>
    <br><br>
    <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
        from dominating Search engines.
    </p>
</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post"><a href="/en/seo-services/case-study-wooga">
        <figure class="image is-4by3">
            <img src="/images/clients/wooga_dark.svg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Case Study: Wooga
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    26 Mar
    2019</span>
    <br> <br>
    <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>
</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-zalando">
        <figure class="image is-4by3">
            <img src="/images/clients/zalando_dark.svg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Case Study: Zalando
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    25 Mar
    2019</span>
    <br><br>
    <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>
</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-modomoto">
        <figure class="image is-4by3">
            <img src="/images/clients/modomoto_dark.svg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Case Study: Modomoto
        </span>
    </a> <br>
    </a> <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    25 Mar
    2019</span>
    <br><br>
    <p>Modomoto is Germany's first and largest Curated Shopping Service for men. <br><br></p>
</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-juniqe">
        <figure class="image is-4by3">
            <img src="/images/clients/junique_dark.svg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Case Study: Juniqe
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    22 Mar 2019</span>
    <br><br>
    <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>
</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-fromatob">
        <figure class=" image is-4by3">
            <img src="/images/seo-images/duplicate.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            FromAtoB Case Study
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    17 Mar 2019</span>
    <br> <br>
    <p>fromAtoB.com is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride share).
    </p>

</div>
<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-hellofresh">
        <figure class="image is-4by3">
            <img src="/images/clients/hellofresh_dark.svg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Case Study: HelloFresh
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    14 Mar 2019</span>
    <br><br>
    <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>

</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <a href="/en/seo-services/case-study-hometogo">
        <figure class="image is-4by3">
            <img src="/images/clients/hometogo_dark.svg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Case Study: HomeToGo
        </span>
    </a> <br>
    <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    11 Mar 2019</span>
    <br><br>
    <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>

</div>