<div class="marginleft block casestudy"><br><br>
    <h2 class="transpbg-white orange">
    <a href="/en/casestudy">{{{__ "maintxtcasestudies"}}}</a></h2><br><br>
    <span class="inline marginleft3"><a href="/en/casestudy/fromatob"><img alt="fromatob logo" src="/fromatob.png"/></a></span>
    <span class="inline marginleft3"><a href="/en/casestudy/hometogo"><img alt="hometogo logo" src="/hometogologo.png"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/hellofresh"><img alt="hello fresh logo" src="/HelloFreshlogo.png"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/n26"><img alt="N26 logo" src="/n26logo.jpg"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/juniqe"><img alt="Juniqe logo" src="/juniqelogo.png"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/modomoto"><img alt="modomoto logo" src="/modomotologo.png"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/wooga"><img alt="wooga logo" src="/woogalogo.png"/></a></span>
</div>
