<div class="marginleft marginrigth block casestudy"><br><br>
    <h2 class="transpbg-white orange">
    <a href="/en/casestudy">SEO Berlin Case Studies</a></h2><br>
    <span class="txt2 inline"><a href="/en/casestudy/fromatob"><img width="105px" src="/fromAtoB.png"/></a></span>
    <span class="txt2 inline"><a class="marginleft" href="/en/casestudy/hometogo"><img width="95px" src="/hometogo.svg"/></a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/hellofresh"><img height="55px" src="/HelloFreshlogo.png"/></a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/n26"><img height="55px" src="/n26logo.jpg"/></a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/juniqe"><img height="55px" src="/juniqelogo.png"/></a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/modomoto"><img width="95px" src="/modomotologo.png"/></a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/wooga"><img width="95px" src="/woogalogo.png"/></a></span>
</div>
