<div class="columns is-multiline logo-container is-centered">
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/fromatob">
            <img alt="fromatob logo" class="client-logo" src="/images/clients/fromatobe.svg" />
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/hometogo">
            <img alt="hometogo logo" class="client-logo" src="/images/clients/hometogo.svg" />
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/modomoto">
            <img alt="modomoto logo" class="client-logo" src="/images/clients/modomoto.svg" />
        </a>
    </div>


    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/n26">
            <img alt="N26 logo" class="client-logo" src="/images/clients/n26.svg" />
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/zalando">
            <img alt="zalando logo" class="client-logo" src="/images/clients/zalando.svg" />
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/juniqe">
            <img alt="Juniqe logo" class="client-logo" src="/images/clients/junique.svg" />
        </a>
    </div>


    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/hellofresh">
            <img alt="HelloFresh logo" class="client-logo" src="/images/clients/hellofresh.svg" />
        </a>
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <a href="/en/casestudy/wooga">
            <img alt="wooga logo" class="client-logo" src="/images/clients/wooga.svg" />
        </a>
    </div>
</div>