<div class=" block"><br><br>
    <h2 class="transpbg-white orange"><a href="/en/casestudy">SEO Berlin Case Studies</a></h2><br>
  <span class="txt2 inline"><a href="/en/casestudy/fromatob">FromAtoB</a></span>
<span class="txt2 inline">     <a class="marginleft" href="/en/casestudy/hometogo">HomeToGo</a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/hellofresh">HelloFresh</a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/n26">N26</a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/juniqe">Juniqe</a></span>
    <span class="txt2 inline"> <a class="marginleft" href="/en/casestudy/modomoto">Modomoto</a></span>



      </div>
