<div class="marginleft block casestudy">
    <h2 class="transpbg-white orange">
    <a href="/en/casestudy">{{{__ "maintxtcasestudies"}}}</a></h2><br><br>
    <span class="inline marginleft3 marginbottom"><a href="/en/casestudy/fromatob"><img alt="fromatob logo" class="marginbottom" src="/fromatob.png"/></a></span>
    <span class="inline marginleft3  marginbottom"><a href="/en/casestudy/hometogo"><img alt="hometogo logo" class="marginbottom" src="/hometogologo.png"/></a></span>
    <span class="inline marginleft3 marginbottom"> <a href="/en/casestudy/hellofresh"><img alt="hello fresh logo" class="marginbottom" src="/HelloFreshlogo.png"/></a></span>
    <span class="inline marginleft3 marginbottom"> <a href="/en/casestudy/n26"><img alt="N26 logo" class="marginbottom" src="/n26logo.jpg"/></a></span>
    <span class="inline marginleft3 marginbottom"> <a href="/en/casestudy/juniqe"><img alt="Juniqe logo" class="marginbottom" src="/juniqelogo.png"/></a></span>
    <span class="inline marginleft3 marginbottom"> <a href="/en/casestudy/modomoto"><img alt="modomoto logo" class="marginbottom" src="/modomotologo.png"/></a></span>
    <span class="inline marginleft3"> <a href="/en/casestudy/wooga"><img alt="wooga logo" class="marginbottom" src="/woogalogo.png"/></a></span>
</div>
