<div class="columns is-multiline logo-container boxcolor">
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="montblanc logo" src="/images/clients/mont-blanc.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo spread-shirt" alt="Spreadshirt logo" src="/images/clients/spread-shirt.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Ricoh logo" src="/images/clients/ricohlogo.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="HelloFresh logo" src="/images/clients/hellofresh.svg" />
    </div>

    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="SPICED logo" src="/images/clients/spiced.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Holberton logo" src="/images/clients/holberton.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="BSH logo" src="/images/clients/BSHLogo.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo spartoo" alt="Spartoo logo" src="/images/clients/spartoologo.png" />
    </div>

    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="dBs logo" src="/images/clients/dbs-music.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Independent Photographer logo" src="/images/clients/photographer.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Absortech logo" src="/images/clients/absortech.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Keep Tool logo" src="/images/clients/keeptool.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Teezily logo" src="/images/clients/teezily.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Holzeco logo" src="/images/clients/holzeco.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo lalaluxe" alt="Lalaluxe logo" src="/images/clients/lalaluxe.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Emporium logo" src="/images/clients/emporium.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo talknow" alt="Talk Now logo" src="/images/clients/talknow.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo mindandmatter" alt="Mind and Matter logo" src="/images/clients/MindMatter.png" />
    </div>
</div>