<div class="backgroundBlack3">
    <div class="logocontainer">
        <div class="logoQuarter">
            <img class="brandlogo2" alt="montblanc logo" src="/montblanc_logo.png" />
        </div>

        <div class="logoQuarter">
            <img class="brandlogo1" alt="spreadshirt logo" src="/spreadshirt.png" />
        </div>


        <div class="logoQuarter">
            <img class="brandlogo" src="/BSHLogo.jpg" alt="bsh logo" />
        </div>


        <div class="logoQuarter">
            <img class="brandlogo" src="/MSFLogo.jpg" alt="MSF logo" />
        </div>
        <div class="logoQuarter">
            <img class="brandlogo" src="/DRKLogo.jpg" alt="DRK logo" />
        </div>
        <div class="logoQuarter">
            <img class="brandlogo" src="/independent.png" alt="independent logo" />
        </div>
        <div class="logoQuarter">
            <img class="brandlogo" src="/dbslogo.png" alt="dbs logo" />
        </div>
        <div class="logoQuarter">
            <img class="brandlogo" src="/logospiced.png" alt="spiced academy berlin logo" />
        </div>
        <div class="logoQuarter">
            <img class="brandlogo" src="/holberton.png" alt="holberton school logo" />
        </div>

        <div class="logoQuarter">
            <img class="brandlogo2" src="/teezily.png" alt="teezily logo" />
        </div>


    </div>
</div>