<div class="columns is-multiline logo-container boxcolor">
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="montblanc logo" src="/images/clients/mont-blanc.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo spread-shirt" alt="Spreadshirt logo" src="/images/clients/spread-shirt.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="Ricoh logo" src="/images/clients/ricohlogo.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="HelloFresh logo" src="/images/clients/hellofresh.svg" />
    </div>


    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo" alt="BSH logo" src="/images/clients/BSHLogo.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
        <img class="client-logo spartoo" alt="Spartoo logo" src="/images/clients/spartoologo.png" />
    </div>

    <br><br>

</div>