<div class="intro3 ">
    <div class="logocontainer">
  <div class="logoQuarter">
    <img
      class="brandlogo"
      alt="must-be logo"
      src="/mustbe.png"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo2"
      alt="spreadshirt logo"
      src="/spreadshirt.png"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"

      src="/madeforrain.png"
      alt="made for rain logo"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"

      src="/holberton.png"
      alt="holberton school logo"
    />
  </div>


    <div class=" logoQuarter">
      <img
        class="brandlogo2"

        src="/teezily.png"
        alt="teezily logo"
      />
    </div>

  <div class=" logoQuarter">
    <img
      class="brandlogo"

      src="/MSFLogo.jpg"
      alt="MSF logo"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"


      src="/DRKLogo.jpg"
      alt="DRK logo"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"
      src="/independent.png"
      alt="independent logo"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"
      src="/dbslogo.png"
      alt="dbs logo"
    />
  </div>
  <div class=" logoQuarter">
    <img
      class="brandlogo"
      src="/logospiced.png"
      alt="dbs logo"
    />
  </div>
  </div>
</div>
