<div class="columns is-multiline logo-container">
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo montblanc" alt="montblanc logo" src="/images/clients/mont-blanc.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo spread-shirt" alt="Spreadshirt logo" src="/images/clients/spread-shirt.svg" />
    </div>

    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo ricoh" alt="Ricoh logo" src="/images/clients/ricohlogo.png" />
    </div>


    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo hellofresh" alt="Hello Fresh logo" src="/images/clients/hellofresh.svg" />
    </div>


    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo spiced" alt="SPICED logo" src="/images/clients/spiced.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo holberton" alt="Holberton logo" src="/images/clients/holberton.svg" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo bsh" alt="BSH logo" src="/images/clients/BSHLogo.png" />
    </div>
    <div class="column is-6-mobile is-3-tablet is-3-desktop">
        <img class="client-logo spiced" alt="Spartoo logo" src="/images/clients/spartoologo.png" />
    </div>
</div>