<div class="contactpage">
  <div class="backgroundBlack xtrapad">
    <br />
    <h2 class="transpbg-white traffic orange">
      get in <span class="white"> touch </span>
    </h2>
    <h5 class="transpbg-white big">alex@seoberlino.com</h5>
    <h5 class="transpbg-white">Kiehlufer D-12059 Berlin</h5>
  </div>

</div>
<div class="">
<h3 class="black marginleft2">Mob: {{{__ "mob"}}}</h3>
</div>
