<footer>

<div class="footer">
    <div class="footerLinks footerHalf">
      <a class="footerlink " to={"/en/login"}>
        login
    </a>
      <a class="footerlink" href={"/en/admin"}>
        admin
      </a>
      <a
        class="footerlink"
        href="/{{{__ "lang"}}}/impressum"}
      >
        impressum
    </a>
      <a class="footerlink" href={"/sitemap.xml"}>
        sitemap
      </a>
      <div class="footerlink">&copy; Alex Bieth 2018 </div>
      <a
        class="footerflags footerlink"
        title="auf Deutsch"
        name="change language to German"
        href="/de"
      >
        DE
      </a>
      <a
        name="change language to English"
        title="change language to English"
        class="footerflags footerlink"
        width="25px"
        href="/en"
      >
        EN
      </a>
    </div>


  </div>


</footer>
