<footer class="footer xtrapad">
    <div class="footerLinks footerHalf">


        <div itemscope="" itemtype="http://schema.org/LocalBusiness" class="footerlink">
            <link itemprop="url" href="https://www.seoberlino.com/de">
            <span itemprop="name">SEO Berlino</span><br>
            <span> &copy; Alex Bieth 2019 </span><br>
            <span>SEO Consultant Freelancer </span><br>
            <span class="footerlink" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Kiehlufer</span>
                <span itemprop="postalCode">12059</span><br>
                <span itemprop="addressLocality">Berlin</span>
                <span itemprop="addressRegion">Deutschland</span>
            </span>
            <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
            <span itemprop="email">alex@seoberlino.com</span>
            <link itemprop="logo" href="/logo5.png">
            <link itemprop="image" href="/logo5.png">
            <link itemprop="sameAs" href="https://linkedin.com/in/alex-bieth-berlin/">
            <link itemprop="sameAs" href="https://twitter.com/seoberlino">
            <span itemprop="geo" itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="">
                <meta itemprop="longitude" content="">
            </span><br>
            <time itemprop="openingHours" datetime="Mo, Tu, We, Th, Fr 08.00 - 18.00">
        </div>

    </div>
    <div class="footerLinks footerHalf">
        <a class="footerlink" href="/{{{__ "lang"}}}/impressum">
            impressum
        </a>
        <a class="footerlink" href="/{{{__ "lang"}}}/datenschutz">
            datenschutz
        </a>
        <a class="footerlink" href="/sitemap.xml">
            sitemap
        </a>
        <a class="footerlink" href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a>
        <a class="footerlink" href="/fr">En français</a>
        <br>
        <script src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
    </div>
</footer>
<div class="xtrapad2 center whitebg">



    <div class="pe-richsnippets"></div>
    <script src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
    <br>
    <a href="https://clutch.co/profile/seoberlino">

        <img alt="clutch" src="/clutch.png" height="40" />

    </a>
</div>