<footer>

<div class="footer">
    <div class="footerLinks footerHalf">
      <a class="footerlink " href="/en/login">
        login
    </a>
      <a class="footerlink" href="/en/admin">
        admin
      </a>
      <a
        class="footerlink"
        href="/{{{__ "lang"}}}/impressum"}
      >
        impressum
    </a>
      <a class="footerlink" href="/sitemap.xml">
        sitemap
      </a>
      <div class="footerlink">&copy; Alex Bieth 2018 </div>

    </div>

    <div class="footerLinks footerHalf">


          <div class="languageBtn">
            <a
              class="languageBtnEN"

              href="/de"
            >
              DE
          </a>
            <a
              class="languageBtnEN"
              href="/en"

            >
              EN
          </a>
          </div>

  </div>
  </div>


</footer>
