<footer>

<div class="footer">
    <div class="footerLinks footerHalf">

      <a
        class="footerlink"
        href="/{{{__ "lang"}}}/impressum"}
      >
        impressum
    </a>
      <a class="footerlink" href="/sitemap.xml">
        sitemap
      </a>
      <div class="footerlink">&copy; Alex Bieth 2018 </div>

    </div>

    <div class="footerLinks footerHalf">




  </div>
  </div>


</footer>
