    <form id="subscribeForm" class="colophone-form" role="form">
        <input type="hidden" id="grecaptcharesponse" name="grecaptcharesponse">
        <input type="hidden" name="action" value="validate_captcha">
        <h2 class="title is-5 is-heavy no-margins form-title">{{{__ "getintouch"}}}</h2><br>
        <div class="inline">

            <div class="field fullname">
                <div class="control">
                    <input class="input" type="text" name="name" id="name" placeholder="{{{__ "fullname"}}}" required>
                </div>
            </div>
            <div class="field email">
                <div class="control">
                    <input class="input" type="email" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
        </div>
        <div class="field message">
            <div class="control">
                <textarea class="textarea" name="message" id="message" placeholder="{{{__ "message"}}}" rows="6"></textarea>
            </div>
        </div><br>

        <div>
            <div class="g-recaptcha" data-sitekey="6LcaJtoUAAAAADS1u-PO72RfkwzGZyCaDCygKH8x"></div>
        </div><br>
        <div class="field send">
            <div class="control">
                <button class="button is-link is-medium" type="submit" id="submit" name="submit">{{{__ "sendMessage"}}}</button>
            </div>
        </div>
    </form>

    <script>
        document.getElementById('subscribeForm').addEventListener('submit', e => {
            e.preventDefault();

            const name = document.querySelector('#name').value;
            const email = document.querySelector('#email').value;
            const message = document.querySelector('#message').value;
            const captcha = document.querySelector('#g-recaptcha-response').value;



            return fetch('/email', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        name,
                        email,
                        message,
                        captcha
                    })
                })
                .then(res => res.json())
                .then(data => {
                        console.log(data);
                        if (data.success) next();

                    }
                });
        });
    </script>