<form role="form" action="/email" method="post" class="formcontact">
    <h2 class="h1hp marginleft2">Get in touch</h2>
    <br style="clear:both">
    <input class="form-group" type="email" name="email" placeholder="Email">
    </input>

    <input type="text" class="form-group" id="name" name="name" placeholder="Name" required>


    <textarea class="form-group" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
    <br><br><br><br>
    <div class="center">
        <button type="submit" id="submit" name="submit" class="servicesHP
        ">Send</button>
    </div>
</form>