<form class="colophone-form" role="form" action="/email" method="post" class="">
    <h2 class="title is-5 is-heavy no-margins form-title">{{{__ "getintouch"}}}</h2><br>
    <div class="inline">

        <div class="field fullname">
            <div class="control">
                <input class="input" type="text" name="name" placeholder="{{{__ "fullname"}}}" required>
            </div>
        </div>
        <div class="field email">
            <div class="control">
                <input class="input" type="email" name="email" placeholder="Email" required>
            </div>
        </div>
    </div>
    <div class="field message">
        <div class="control">
            <textarea class="textarea" name="message" placeholder="{{{__ "message"}}}" rows="6"></textarea>
        </div>
    </div>

    <div class="field send">
        <div class="control">
            <button class="button is-link is-medium" type="submit" id="submit" name="submit">{{{__ "sendMessage"}}}</button>
        </div>
    </div><br>

    <div class="g-recaptcha" data-sitekey="6LcaJtoUAAAAADS1u-PO72RfkwzGZyCaDCygKH8x"></div>

</form>