<header class="toolbar">
  <nav class="toolbar_navigation">
    <a href="#main-menu">
    <img src="/hamburger.svg"
       id="main-menu-toggle"
       class="menu-toggle"
       alt="hamburger"
       aria-label="Open main menu"/>
      <span class="sr-only black">Open main menu</span>
      <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    <a id="back to Homepage">
      <img alt="logo" class="toolbar_logo" src="/logo.jpg" />
    </a>
      <nav id="main-menu" class="main-menu" aria-label="Main menu">
      <a href="#main-menu-toggle"
         class="backdrop"
         tabindex="-1"
         aria-hidden="true" hidden></a>
         <div class="languageBtn2">
       </nav>
  </nav>
</header>
