<header class="toolbar">
    <nav class="toolbar_navigation">
        <img alt="logo" class="toolbar_logo" src="/logo.jpg" />
        <nav id="main-menu" class="main-menu" aria-label="Main menu">
            <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
        </nav>
    </nav>
</header>