<div class="hero-body">


    <div class="columns is-centered has-text-centered">
        <div class="column is-9">
            <figure class="image is-fullwidth">

                <img src="/Holb.png" alt="SEO Content Success Story" /><br><br>
            </figure>

            <p class="subtitle is-5">
                {{{__ "homepageexample1"  }}} </p>
        </div>
    </div>

    <br><br>


    <div class="columns is-centered has-text-centered">
        <div class="column is-9">
            <figure class="image is-fullwidth">

                <img alt="success story" src="/images/diagrams/ipincrease_new.svg" />
                <p class="subtitle is-5">
            </figure><br><br>
            <p class="subtitle is-5">

                {{{__ "homepageexample2"  }}} </p>
        </div>
    </div>
</div>