<div class="hero-body">


    <div class="columns is-centered has-text-centered">
        <div class="column is-9">
            <figure class="image is-fullwidth">

                <img src="/Holb.png" alt="SEO Content Success Story" /><br><br>
            </figure>

            <p class="subtitle is-5">
                In one year for this client, with a strong Content Growth Strategy, traffic was multiplied by 10, that is <b>excluding Brand keywords</b>.
            </p>
        </div>
    </div>

    <br><br>


    <div class="columns is-centered has-text-centered">
        <div class="column is-9">
            <figure class="image is-fullwidth">

                <img alt="success story" src="/images/diagrams/ipincrease_new.svg" />
                <p class="subtitle is-5">
            </figure><br><br>
            <p class="subtitle is-5">

                For this client, an audit showed that a new Keyword Targeting was needed, while better exposing important pages with more traffic potential, and improving technical settings and performance.
                Changes enabled the client to double its organic entries. Also it is important to note that brand terms traffic actually dropped during March to May compared to the previous period. </p>
            </p>
        </div>
    </div>
</div>