<h2 class="title is-3 is-heavy boost-margin has-text-centered">Success Stories</h2>
<p>
    For this client, an audit showed that a new Keyword Targeting was needed, while better exposing important pages with more traffic potential, and improving technical settings and performance.
    Changes enabled the client to double its organic entries. Also it is important to note that brand terms traffic actually dropped during March to May compared to the previous period.
</p>

<figure class="image is-fullwidth">
    <img alt="success story" src="/images/diagrams/ipincrease_new.svg" />
</figure>