<section class="success-hero off-white hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <h2 id="successstories" class="title h1HP is-heavy boost-margin has-text-centered is-red">{{{__ "success-stories"}}}</h2>
            <div class="columns is-centered">
                <div class="column is-10-tablet is-12-desktop">
                    <div class="hero-body">


                        <div class="columns is-centered has-text-centered">
                            <div class="column is-9">
                                <figure class="image is-fullwidth">

                                    <img src="/images/Holb.png" alt="SEO Content Success Story" /><br><br>
                                </figure>

                                <p class="subtitle is-5">
                                    {{{__ "homepageexample1"  }}} </p>
                            </div>
                        </div>

                        <br><br>


                        <div class="columns is-centered has-text-centered">
                            <div class="column is-9">
                                <figure class="image is-fullwidth">

                                    <img alt="success story" src="/images/diagrams/ipincrease_new.svg" />
                                    <p class="subtitle is-5">
                                </figure><br><br>
                                <p class="subtitle is-5">

                                    {{{__ "homepageexample2"  }}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>