<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">Latest related articles


    </li>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="seo berlin" />
                <figcaption>SEO Glossary</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/en/blog/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="seo berlin" />
                <figcaption>How to get those first links</figcaption>
            </a>
        </figure>

    </li><br>



    <li>
        <figure class="image is-2-by1">
            <a href="/en/blog/link-building-to-brandbuilding"><img src="/web.jpg" alt="seo berlin" />
                <figcaption>Link Building to Brand Building</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/backlink-analysis"><img src="/auditmainpic/analysis.jpg" alt="seo berlin" />
                <figcaption>Backlink Analysis</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/en/blog/linkbuilding-in-2020"><img src="/auditmainpic/linkmain.jpg" alt="seo berlin" />
                <figcaption>Linkbuilding Getting it right</figcaption>
            </a>
        </figure>

    </li>
</ul>