<div>
  <div class="txt3 testimonial">
    "Alex is an SEO expert who proposes concrete action measures
    based on a well-founded analysis and independently
    implements them. This gives me the opportunity to focus on
    my day-to-day business while still keeping my finger on the
    pulse of the times with my website. Thank you for the
    transparent and professional cooperation!"
    <br />
    <div class="bold">
      <span class="inline2">
        <img
          height="40px"
          width="60px"
          alt="must-be logo"
          src="/mustbe.png"
        />
      </span>
      <span class="inline2">
        Hendrik Feige - owner at must-be
      </span>
    </div>
  </div>
  <br />
  <div class="txt3 testimonial">
    "Thank you for report which was exactly what I was hoping
    for!"
    <br />
    <div class="bold">
      <span class="inline2">
        <img
          height="40px"
          width="45px"
          src="/teezily.png"
          alt="teezily logo"
        />
      </span>
      <span class="inline2">
        Charles Dilasser - CEO at Teezily
      </span>
    </div>
  </div>
  <br />
  <div class="txt3 testimonial">
    "Fast, reliable & professional. Would definitely recommend."
    <br />
    <div class=" bold ">
      <span class="inline2">
        <img
          height="30px"
          width="60px"
          src="/independent.png"
          alt="independent logo"
        />
      </span>
      <span class="inline2">
        Richard Sfez – CEO at The Independent Photographer
      </span>
    </div>
  </div>
  <br />
  <div class="txt3 testimonial">
    "Alex always had a superior command of his field of activity
    and very good knowledge of all processes and aspects of the
    company. He was always very successful in expanding his
    professional knowledge on his own initiative. Alex has led
    several major projects of cleaning up our SEO profiles so as
    to reflect the best practices preached by Google as well as
    pioners. He has been strict in following the cleanest and
    best practices to avoid penalties, but continue growth in
    Spreadshirt's SEO visibility."
    <br />
    <div class="bold">
      <span class="inline2">
        <img
          height="40px"
          width="35px"
          alt="spreadshirt logo"
          src="/spreadshirt.png"
        />
      </span>
      <span class="inline2">
        Hugo Smoter - CCO at Spreadshirt
      </span>
    </div>
  </div>
  </div>
