<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Paul Fowler</h3>
                    <h4 class="subtitle is-6 is-heavy">Online Marketing Manager @ Spiced Academy (Berlin)</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client2"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Richard Sfez</h3>
                    <h4 class="subtitle is-6 is-heavy">CEO @ The Independent Photographer (Berlin)</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client1"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Amandine Aman</h3>
                    <h4 class="subtitle is-6 is-heavy">Marketing Director @ Holberton School, San Francisco</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client3"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Hendrik Feige</h3>
                    <h4 class="subtitle is-6 is-heavy">owner @ must-be (Leipzig)</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client4"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Christina Gaither</h3>
                    <h4 class="subtitle is-6 is-heavy">Marketing Manager @ dBs (Berlin)</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                Their team provided a wealth of knowledge on the industry and customized their approach for us. (via Clutch)
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Elsa Jimenez</h3>
                    <h4 class="subtitle is-6 is-heavy">CMO @ Absortech (Sweden)</h4>
                </div>
            </div>
            <hr>
            <div class="content">We had very effective and easy communication between teams. (via Clutch)</div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Thomas Rosa Da Silva</h3>
                    <h4 class="subtitle is-6 is-heavy">Founder @ ImmobilienFoto (Berlin)</h4>
                </div>
            </div>
            <hr>
            <div class="content">They had in-depth knowledge and know-how of SEO. (via Clutch) </div>
        </div>
    </div>
</div>


<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Mina Marmolejo</h3>
                    <h4 class="subtitle is-6 is-heavy">Founder & Creative Director @ Health Mind Body Ltd (UK)</h4>
                </div>
            </div>
            <hr>
            <div class="content">They are a knowledgeable group. (via Clutch)</div>
        </div>
    </div>
</div>