<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Paul Fowler</h3>
                    <h4 class="subtitle is-6 is-heavy">Online Marketing Manager @ Spiced Academy</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client2"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Richard Sfez</h3>
                    <h4 class="subtitle is-6 is-heavy">CEO @ The Independent Photographer</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client1"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Amandine Aman</h3>
                    <h4 class="subtitle is-6 is-heavy">Marketing Director @ Holberton School, San Francisco</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client3"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <h3 class="title is-4 is-heavy">Hendrik Feige</h3>
                    <h4 class="subtitle is-6 is-heavy">owner @ must-be</h4>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client4"}}}
            </div>
        </div>
    </div>
</div>