<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Social Media Marketing {{{__ "consultancy"}}}</h1><br>
                    </div><br>

                    <br><br><br>
                    <div class="column is-centered">
                        The Social Media Consultation Service consists of the setup of all necessary tracking solutions. It also
                        includes the creation of new campaigns and audiences, tests of different medias, optimization, analysis
                        and reporting.
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<!-- Audit Block-->
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">

        <div class="container reduced has-text-centered boost-margin">
            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Keyword Research</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Set-up with pixel Integration</h4>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Target Audience</p>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Campaign Creation</p>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Retargetting Campaigns</p>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Performance Analysis and Optimization</p>
                    </div>
                </div>



                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Follow up with weekly reports and analysis</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-hero boxcolor hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered">
                <div class="column is-12-mobile is-10-tablet is-12-desktop is-centered">
                    <h2 class="title is-1 is-heavy  has-text-centered is-white">Social Media Marketing Packages</h2>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>

<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">

                <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                    <h2 class="title is-3 is-heavy reduced-top-margin">Foundation Package</h2>
                    <p class="subtitle">

                        ◦ Pixel integration: connection of your Facebook Business Manager with your website in order to track all
                        conversions and actions that take place on the website <br> <br>
                        ◦ Setup of Instagram and Facebook Shopping accounts if required: creation on both platforms of the
                        Shopping account, so users can see and buy products directly from the accounts <br> <br>
                        ◦ Target audiences creation: definition of the perfect audiences to target for campaigns <br> <br>
                        ◦ Campaigns creation: creation of new campaigns with the aim to meet your goals. Audiences and
                        medias will be tested with A/B tests to verify which one performs better <br> <br>
                        ◦ Retargetting campaigns optimization: to improve the conversion of clients who have shown interest in
                        your products or services <br> <br>
                        ◦ Performance analysis and optimization: active monitoring of your campaigns in order to optimize them
                        according with the results <br> <br>
                        ◦ Weekly reports: weekly reports will be produced and sent to you so you can monitor yourself the
                        perfomance of the ads and see how your budget is spent.</p> <br> <br>
                    <h2 class="title is-3 is-heavy">Growth Package</h2>
                    <p class="subtitle is-4">

                        ◦ Pixel integration: connection of your Facebook Business Manager with your website in order to track all
                        conversions and actions that take place on the website <br> <br>
                        ◦ Google Tag Manager integration: Implementation of an additional tracking solution from Google in order
                        to track better the ads performances. Recommended for advanced e-commerce <br> <br>
                        ◦ Setup of Instagram and Facebook Shopping accounts if required: creation on both platforms of the
                        Shopping account, so users can see and buy products directly from the accounts <br> <br>
                        ◦ Target audiences creation: definition of the perfect audiences to target for campaigns <br> <br>
                        ◦ Campaigns creation: creation of multiple new campaigns with the aim to meet your goals. Audiences
                        and medias will be tested with A/B tests to verify which one performs better <br> <br>
                        ◦ Retargetting campaigns optimization: to improve the conversion of clients who have shown interest in
                        your products or services <br> <br>
                        ◦ Performance analysis and optimization: active monitoring of your campaigns in order to optimize them
                        according with the results <br> <br>
                        ◦ Reports twice a week: twice weekly reports will be produced and sent to you so you can monitor yourself
                        the perfomance of the ads and see how your budget is spent</p>

                </div>

            </div>
        </div>
    </div>
</section>

<a class="white" href="/{{{__ "lang"}}}/references">
    <section class="clients-hero boxcolor hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clientssmall-min}}
            </div>
        </div>
    </section>
</a>

</div>

{{>formcontact-min}}
<div class="fb-like columns is-centered" data-href="https://www.seoberlino.com/en" data-width=64 data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br><br>