// Mobile Styles

// Tablet Styles

@include mobile {





  // Navbar
  .navbar {
    padding: 0rem 0.45rem;
    .navbar-brand {
      img {width: 164px !important;}
    }
  }
  .mobile-nav {
    top: 52px !important;
    .navbar-item {
      padding: 0 !important;
      .dropdown-arrow {
        margin-left: -2px !important;
      }
      .navbar-link {
        padding-left: 0px !important;
        padding-right: 1.5rem !important;
      }
      .navbar-item {
        padding: 0.5rem 1.5rem !important;
      }
      .buttons {
        padding-right: 1.5rem !important;
      }
      .navbar-dropdown {
        padding-right: 0rem;
        .level-two {
          padding-right: 1.5rem !important;
        }
      }
    }
  }

  // Rulers
  .ruler-1-left {
    position: fixed;
    top:0px;
    bottom:0px;
    width: 1px;
    background: red;
    z-index: 999;
    left:22px;
    display: none;

  }
  .ruler-1-right {
    position: fixed;
    top:0px;
    bottom:0px;
    width: 1px;
    background: red;
    z-index: 999;
    right:22px;
    display: none;
  }
  // text
  .title, .subtitle {
    margin-bottom:1rem !important;
    &.is-1 {font-size: 1.65rem !important;}
    &.is-2 {font-size: 1.45rem  !important;}
    &.is-3 {font-size: 1.35rem  !important;}
    &.is-4 {font-size: 1.15rem  !important;}
    &.is-5 {font-size: 0.9rem  !important;}
    &.is-6 {font-size: 0.85rem  !important;}
    &.boost-margin {margin-bottom:1.65rem !important;}
  }

.hide {visibility:hidden;

}
  table {
    padding: 10px;
    width: auto;
    min-width: 100%;
    font-size: 0.85rem;
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 2px $lightish-blue-shadow;
    td {
        padding: 4px;
        border: 2px solid $lightish-blue-shadow !important;
    }
    th {
        border: 2px solid $lightish-blue-shadow !important;
    }
  }

  .card-content {
    .media {
      margin-bottom: 0px !important;
      h3, h4 {
        margin-bottom: 5px !important;
      }
    }
  }

  // Heros
  .hero {
    .hero-body {
      padding: 3rem 0.6rem !important;
      .button.is-large {
        font-size: 1rem;
        font-weight: 700;
        padding: 1.15rem 1.5rem 1.15rem;
        margin: 0rem 0.45rem 0rem 0rem;
        border-radius: 0.5rem;
      }
    }
  }

  // Footer
  .colophon-hero {
    .hero-body {
      .footer-logo {
        img {
          width: 190px;
          max-width: 100%;
        }
      }
    }
  }
  .page-end {
    .clutch {
      margin-top:15px;
    }
  }

  // General Content Blocks
  .list-block {
    margin:0 auto;
    margin-bottom:1.75rem;
    p {
      margin-bottom:0.25em !important;
    }
  }

  // Specific Blocks
  .introduction-hero {
    min-height: 100vh !important;
    .intro-columns {
      flex-direction: column-reverse;
      display: flex;
      .intro-summary {
        margin: 0 auto;
        .aligner-container {
          h2 {margin-top: 0.85rem;}
        }
      }
      .intro-image {
        text-align: center;
      img {
          max-width: 100%;
          position: relative;
          top: 0px;
        }
      }
    }
  }
  .clients-hero {
    .logo-container {
      display: flex;
      padding: 0 1rem;
      .dbs-music {position: relative; left:auto;}
      .spiced {position: relative; left:auto;}
      .client-logo {
        max-height: 75px !important;
        width: 120px !important;
        padding: 0.5rem;
      }
    }
  }
  .about-hero, .success-hero, .reports-hero, .audit-hero, .seo-hero, .consultancy-hero, .casestudy-hero, .cases-hero {
    p, h3 {
      text-align: justify;
    }
  }

  // Pill List
  .pill-list {
    .column {
      .pill {
        max-width: 60%;
        min-height: 3rem;
        margin:0 auto;
        text-align: center !important;
        p {
          font-size: 0.85rem;
          margin-top:0.35rem;
          margin-bottom:0.35rem;
          text-align: center !important;
        }
        .subtitle {
          margin-bottom: 0px !important;
          font-size: 1rem !important;
          color: $grey-dark;
          a {

          }

        }
      }
    }
  }

  // Blog Archive Page
  .archive {
    .post {
      padding: 0.8rem;
      margin-bottom: 3rem;
    }
  }

  // Single Blog Page
  .single-post {
    .sidebar {
      padding-left: 0.7rem;
    }
    .blog-imageheader {
      .header-body {
        min-height: 20rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .bg-image {
          background-size: cover;
        }
        .gradient {
          position: absolute;
          top: 25px !important;
          left: 0px;
          right: 0px;
          bottom: 200px;
          z-index: 8;
        }
        .title-strip {
          position: relative;
          width: 100%;
          padding:1rem 0.7rem 0rem;
          background-color: rgba(217, 58, 95, 0.8);
          z-index: 9;
          font-size: 1rem;
          h2 {text-align: left !important;}
        }
      }
    }
    .post {
      .title {
        margin-top: 3rem;
      }
    }
    .blogpost-hero {
      .hero-body {
        padding-top: 1rem;
      }
    }
  }


  // Contact Page
  .contact-header {
    .title {
      margin-bottom:0.5rem !important;
    }
  }
  .contact-details {
    margin-bottom: 0rem;
    .profile-photo {
      border-radius: 999px;
      width: 70px;
      height: 70px;
      margin-right: 1.5rem;
      display: inline-block;
    }
    .details {
      position: relative;
      top:5px;
      vertical-align: top;
      display: inline-block;
      h3 {
        font-size:1.2rem !important;
        a {
          font-size:1.2rem !important;
        }
        &:first-of-type {
          margin-bottom: 5px !important;
        }
      }
    }
  }
  .skill-card-1 {
    border-bottom: 3px solid $light-blue;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .contact-page-form {
    .form-title, .form-message {display: none;}
  }

  .meta-date {
      margin-bottom: 0rem !important;
  }

  .breadcrumb {
    a {
      font-size: 1rem;
    }
  }

  .blog-post, .case-study-post  {
    .title-strip {
      padding: 1.85rem 1.5% 0.8rem !important;
    }
  }

  .lexicon {
    .title-strip {
      padding: 1.85rem 0.8rem 0.8rem !important;
    }
  }

}
