<div class="content content-creation audit-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">Growth hacking</h1>

                <div class="columns is-centered has-text-centered">
                    <div class="column is-10">
                        <p class="subtitle is-4">
                            {{{__ "contentMP1"}}}
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>



    <!-- Audit Block-->
    <section class="audit-hero off-white hero is-medium">
        <div class="hero-body remove-padding">

            <div class="container reduced has-text-centered boost-margin">


                <div class="columns is-centered has-text-centered is-multiline pill-list">
                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Keyword Research</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Analysis current traffic</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Analysis existing content</p>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Prioritization list content creation</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy"> Competitor Analysis before content creation</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Content Copywriting</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Follow up with reports and analysis</a></h4>
                        </div>
                    </div>

                </div>

                <a class="button is-large is-primed is-medium boost-margin-top" href="/{{{__ "lang"}}}/contact">
                    {{{__ "about"}}}
                </a>

            </div>
        </div>
    </section>
</div>