<div class="main">
    <div class="services2">
        <div class="infoTitle"><br /><br />
            <h1 class="h1services2">SEO Analytics</h1>
        </div> <br><br><br><br>
        <div class="serviceText">{{{__ "analyticsMP1"}}} </div><br><br>
        <div class="auditdiv">
            <p class="border"> Set-up</p>
            <p class="border"> View Creations (Master, All Data)</p>
            <p class="border"> Filters</p>
            <p class="border"> UTM, Custom Channels</p>
            <p class="border"> Reports & Dashboards</p>

        </div><br><br>
        <a href="/{{{__ "lang"}}}/contact">
            <button class="servicesHP5">{{{__ "getintouch"}}}</button>
        </a>
  </div>
</div><br><br><br><br><br><br>
{{>clients}}
