<div class="main">
    <div class="services2">
        <div class="infoTitle"><br /><br />
            <h1 class="h1services2">SEO Content</h1>
        </div> <br />

        <div class="auditdiv">
            <p class="border"> Keyword Research</p>
            <p class="border"> Analysis current traffic</p>
            <p class="border"> Analysis existing content</p>
            <p class="border"> Prioritization list content creation</p>
            <p class="border"> Competitor Analysis before content creation</p>
            <p class="border"> Content Copywriting</p>
            <p class="border"> Follow up with reports and analysis</p>

        </div><br><br>
        <a href="/{{{__ "lang"}}}/contact">
            <button class="servicesHP5">{{{__ "getintouch"}}}</button>
        </a>


  </div>



    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "htts://www.seoberlino.com",
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+49 15787011932",
            "contactType": "customer support"
                        }]}
    </script>
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
        "name": "SEO Berlino",
        "url": "https://www.seoberlino.com",
        "description": "SEO Consultant & SEO Freelancer in Berlin",
        "image": "https://www.seoberlino.com/logo.jpg",
        "email": "alex@seoberlino.com",
        "telephone": "+49 15787011932",
        "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.seoberlino.com/logo.jpg",
            "width": 600,
            "height": 600},
        "address": [{
        "@type": "PostalAddress",
        "streetAddress": "Kiehlufer 11",
        "addressLocality": "Berlin",
        "addressRegion": "Berlin",
        "postalCode": "12059",
        "addressCountry": "DE"}],
        "openingHoursSpecification": [{
        "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"],
                "opens": "08:00",
                "closes": "18:00"}]}
    </script>
</div><br><br><br><br><br><br>
{{>clients}}
