<div class="main">
    <div class="services2">
        <div class="infoTitle"><br /><br />
            <h1 class="h1services2">SEO Analytics</h1>
        </div> <br><br><br>
<br>
        <div class="serviceText">{{{__ "analyticsMP1"}}} </div><br><br>
        <div class="auditdiv">
            <p class="border"> Set-up & Views Creations (Master, All Data)</p>
            <p class="border"> Filters & UTM, Custom Channels</p>
            <p class="border"> Reports & Dashboards</p>

        </div><br><br>


        <form class="block"  action="/{{{__ "lang"}}}/contact">
            <input class="servicesHP2" type="submit" value="{{{__ "about"}}}"/>
        </form>

  </div>
</div><br><br><br><br><br><br>
{{>clients}}
