<div class="content archive blog-en">

  <!-- Intro Audit Block-->
  <section class="audit-hero hero is-large-intro">
    <div class="hero-body remove-padding">
      <div class="container reduced">
        <h2 class="title is-2 is-heavy boost-margin has-text-centered">SEO Blog</h2>

        <div class="columns is-centered is-multiline">

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/article/seo-in-asia-korea-china-japan-2019"><img src="/asia.jpg" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/article/seo-in-asia-korea-china-japan-2019">SEO in Asia: China, Japan and South Korea</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/casestudy/fromatob"><img src="/auditmainpic/duplicate.jpg" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/casestudy/fromatob">FromAtoB Case Study</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/article/how-to-get-those-first-links"><img src="/stress.jpg" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/article/how-to-get-those-first-links">How to get those first links</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/article/link-building-to-brandbuilding"><img src="/web.jpg" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/article/link-building-to-brandbuilding">Link Building to Brand Building</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/article/beyond-mobile-first"><img src="/blog1.png" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/article/beyond-mobile-first">Beyond "mobile-first", where Google is heading</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

          <div class="column is-12-mobile is-6-tablet is-6-desktop post">
            <figure class="image is-4by3">
              <a href="/en/article/linkbuilding-in-2019"><img src="/blog2.jpg" alt="blog article"/></a>
            </figure>
            <h3 class="title is-4 is-heavy">
              <a href="/en/article/linkbuilding-in-2019">Linkbuilding: Getting it right in 2019</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed purus at turpis posuere rutrum at quis sapien. Phasellus ut est ac dolor faucibus ullamcorper at eget sapien. Phasellus nisl leo, ultricies eu augue in, vestibulum ultrices sem. Cras tincidunt tincidunt ultrices.
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
