<div class="content blog-post single-post blog-en">
    <!-- Blog Article Photo header -->


    <!-- Breadcrumb -->




    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>

                        <h1 class="title is-1 is-heavy"> Voice Search and how it challenges SEO</h1>

                        <span class="subtitle is-6 is-black"><a href="/en/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" /> 12 December 2018</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">

                        <figure class="image is-4by3">
                            <img src="/auditmainpic/voice.jpg" alt="blog article" />
                        </figure>


                        <span class="is-heavy subtitle is-4">Once you are ready for mobile first, the next step is to prepare your website for Voice Search. </span><br>



                        <h3>Facts:</h3>

                        People are more and more equipped with Voice Search devices and use them, in fact 40% of adults perform a voice search at least once a day.<br>

                        Voice searches are not formulated the same way as when one searches when typing.<br>

                        Google Voice Search accuracy is now 95% accurate versus below 80% 5 years ago.<br>

                        20% of mobile queries are voice searches and this figure is rising expected to reach 50% by 2020.<br><br>

                        </p>

                        <h3>Voice Search devices and technology:</h3>


                        Google Assistant<br>

                        Google Home<br>

                        Amazon Alexa<br>

                        Echo<br>

                        Microsoft Cortana<br>

                        <br><br>

                        <h3>How are voice search queries different to text searches?</h3>


                        They are more conversational therefore they are longer queries with question words (how, why, who, where, what).<br><br>



                        A useful tool to find questions asked for a specific them is Answerthepublic.<br><br>

                        Finally a lot of these queries are Local, another good reason to integrate Local SEO in your SEO strategy.<br><br>



                        <h3>Featured Snippets (or Answer Box) </h3>
                        Google mostly uses Featured Snippets to answer voice queries. These are in most cases Paragraphs. but they can also be Lists and Tables.<br><br>



                        15% of all queries come up Featured Snippets<br><br> To get your site as a featured snippet does not require you to rank #1 in organic search but in most cases you need to be on the first page already..<br><br>



                        Also there is no schema Featured Snippet but a page in your website needs to the target search term in the correct format. There is an interesting article on Moz about how to optimize for Featured Snippets<br><br>


                        <h3>What else to do:</h3>


                        On top of trying to feature in Featured Snippets for the searches which matter aim to optimize for long tail terms, using a conversational tone. <br><br>


                        Adding an FAQ section which includes the important questions will also help.<br><br>



                        Finally, if this is not yet done optimize your google MyBusiness profile for better visibility for Local SEO as many searches are local ("near me")
                        <br><br> <br><br>
                        <div class="fb-like" data-href="https://www.seoberlino.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br><br>
                        <br><br>
                    </div> {{>articlesCTA}}

                </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/blog/voicesearch`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "voicesearch"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-2 is-heavy boost-margin has-text-centered">Other SEO Blog articles</h2>

                <div class="columns is-centered is-multiline">

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/seo-glossary">SEO Glossary</a>
                        </h3>
                        <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>

                    </div>



                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/how-to-get-those-first-links">How to get those first links</a>
                        </h3>
                        <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should be
                            where they are for reason with a PR mind.
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/link-building-to-brandbuilding"><img src="/web.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/link-building-to-brandbuilding">Link Building to Brand Building</a>
                        </h3>
                        <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                            pro-actively the same way no matter what?
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                        </h3>
                        <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if you
                            currently offer a native app.
                        </p>
                    </div>
                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/linkbuilding-in-2020"><img src="/auditmainpic/linkmain.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/linkbuilding-in-2020">Linkbuilding: Getting it right in 2020</a>
                        </h3>
                        <p>3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic

                            "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward)
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/why-you-need-implement-structured-data">Structured Data</a>
                        </h3>
                        <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                            displayed.
                    </div>




                </div>
            </div>
        </div>
    </section>


</div>