<div class="content archive blog-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">SEO Blog</h1>

                <div class="columns is-centered is-multiline">


                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/clutch"><img src="/images/Companies2019.png" alt="clutch" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/clutch">SEO Berlino Named Top SEO Services Company in Germany</a>
                        </h3>
                        <p>As experts on the power of clicks, we at seoberlino know how important it can be to be featured by other industry leaders.
                        </p>
                    </div>


                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/seo-in-asia-korea-china-japan-2019"><img src="/asia.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/seo-in-asia-korea-china-japan-2019">SEO in Asia: China, Japan & S. Korea</a>
                        </h3>
                        <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services from
                            dominating Search engines.
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/casestudy/fromatob"><img src="/auditmainpic/duplicate.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/casestudy/fromatob">FromAtoB Case Study</a>
                        </h3>
                        <p>fromAtoB.com is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride share).
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/how-to-get-those-first-links"><img src="/stress.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/how-to-get-those-first-links">How to get those first links</a>
                        </h3>
                        <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should be
                            where they are for reason with a PR mind.
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/link-building-to-brandbuilding"><img src="/web.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/link-building-to-brandbuilding">Link Building to Brand Building</a>
                        </h3>
                        <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                            pro-actively the same way no matter what?
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/beyond-mobile-first">Beyond "mobile-first"</a>
                        </h3>
                        <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if you
                            currently offer a native app.
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/linkbuilding-in-2019"><img src="/blog2.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/linkbuilding-in-2019">Linkbuilding: Getting it right in 2019</a>
                        </h3>
                        <p>3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic

                            "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward)
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/article/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/article/why-you-need-implement-structured-data">Structured Data</a>
                        </h3>
                        <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                            displayed.
                    </div>


                    <div class="column is-12-mobile is-6-tablet is-6-desktop post">
                        <figure class="image is-4by3">
                            <a href="/en/offpage/backlinkanalysis"><img src="/backlinks.png" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/offpage/backlinkanalysis">How to do a Backlink Audit</a>
                        </h3>
                        <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                            displayed.
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>