<div className="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>Blog SEO Berlino - SEO Expert in Berlin</title>
    <meta
      name="description"
      content="SEO Berlino Blog, about SEO topics: on-page, off-page, technical SEO, competitor analysis and Brandbuilding."
    />
    <link rel="canonical" href="/en/blog" />
  </Helmet>
  <div class="services2">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/services"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a class="bold"> BLOG </a>
    </div>
    <div class="infoTitle">
      <h1 class="h1services2">SEO Blog</h1>
    </div>
    <div>
      <table class="blogArticles">
          <tr class="blogItem">
            <a href="/en/article/" + article.url>
              <th>
                  <img
                  class="imageBlog"
                  src="/stress.jpg"
                  height="120px"
                  width="160px"
                  alt="blog article"
                  />
              </th>

              <th class="big paddingleft">
How to get those first links                </th>
            </a>
          </tr>

          <tr class="blogItem">
            <a href="/en/article.url">
                <th>
                  <img
                  class="imageBlog"
                  src="/web.jpg"
                  height="120px"
                  width="160px"
                  alt="blog article"
                  />
              </th>

              <th class="big paddingleft">

Link Building to Brand Building              </th>
            </a>
          </tr>



          <tr class="blogItem">
            <a href="/en/article/" + article.url>
                <th>
                  <img
                  class="imageBlog"
                  src="/blog1.png"
                  height="120px"
                  width="160px"
                  alt="blog article"
                  />
              </th>

              <th class="big paddingleft">Beyond "mobile-first", where Google is heading            </th>
            </a>
          </tr>


          <tr class="blogItem">
            <a href="/en/article/" + article.url>
                <th>
                  <img
                  class="imageBlog"
                  src="/blog2.jpg"
                  height="120px"
                  width="160px"
                  alt="blog article"
                  />
              </th>

              <th class="big paddingleft">Linkbuilding: Getting it right in 2019             </th>
            </a>
          </tr>

      </table>
    </div>  </div>
    <br /><br /><br /><br />
</div>
