<div class="content case-study-post single-post casestudy-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Mini case study: Zalando (Berlin)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>

                            </ul>
                        </nav>
                        <h6 class="title is-6 is-black">Published: March 25th 2019</h6>

                        <h6 class=" title is-6 is-black"><a href="/en/contact">By Alex Bieth</a></h6>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">

                        <span class="blue-dot-list big">
                            <ul>
                                <li><a href="#description">Company description</a></li>
                                <li><a href="#summary">Executive Summary</a></li>
                                <li><a href="#trends">Google Trends (in Germany)</a></li>
                                <li><a href="#backlink">Backlink Profile Overview</a></li>
                                <li><a href="#traffic">Organic Traffic Analysis</a></li>
                                <li><a href="#performance">Site Performance for Mobile</a></li>
                                <li><a href="#funny">Fun Facts</a></li>
                            </ul>
                        </span>


                        <h2 class="title is-4 is-heavy" id="description">Company Description</h2>
                        <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. Zalando with its now 3 co-CEOs, was founded by Rocket internet, it now makes over 5.3 billion in
                            revenues. With over 15k employees, it is the giant of Berlin's start up success stories.</p>

                        <h2 class="title is-5 is-heavy">Founded: 2008</h2>
                        <h2 class="title is-4 is-heavy" id="summary"> Executive Summary</h2>
                        <p>Zalando gets a lot of traffic thanks to brands, to its own mostly ("Zalando" has a search volume of 4m - as a comparison "nike" has a search volume of less than half a million), and all the most famous fashion brands it has
                            in its stock.
                            Zalando ranks regularly in the top 5 for clothing brands.</p>
                        <p>Surprisingly its mobile performance is quite average with issues with Javascript with big payloads, and not very efficient cache policy. Although Zalando has a huge amount of backlinks pointing to its site, for strong
                            backlinks, it relies
                            mostly on its own sites.</p>

                        <div class="card-case">
                            <h2 class="title is-3 reduced-margin reduced-top-margin">Around 7 million monthly SEO visits, mostly other fashion brands</h3>
                                <h3 class="subtitle is-5 reduced-top-margin">Over 4 million backlinks for 10k+ Referring Domains</h3>

                                <h2 class="title is-3 reduced-margin reduced-top-margin">1.4m pages indexed including over 2000 top pages which get at least 500 monthly SEO entries</h3>
                                    <h3 class="subtitle is-5 reduced-top-margin">Huge brand recognition with over 1.2m brand visits.</h3>
                        </div>

                        <h2 class="title is-5 is-heavy" id="trends"> Google Trends (in Germany)</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Zalando Google Trends" src="/zalandotrends.png">
                        </figure>

                        <h2 class="title is-5 is-heavy" id="backlink">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>4.1m backlinks from 11.6K domains.</li>
                                <li>84% of backlinks are from pages with little Page Authority.</li>
                                <li>33% of the backlinks are from German websites.</li>
                                <li>Most of the anchor text backlinks are brand (but also "brandandbutter.com" which now doesn't exist.)</li>
                                <li>7% of the links are nofollow and 5% are images.</li>
                            </ul>
                        </span>

                        <h2 class="title is-5 is-heavy" id="backlink">Follow Backlinks with Page Authority of 40 and above (according to ahrefs)</span><br>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>Open Route services (image)</li>
                                    <li>Zalon, a Zalando company (image)</li>
                                    <li>Digital Media Women (image)</li>
                                    <li>Zalando's Job subdomain</li>
                                    <li>Zalando's Corporate subdomain</li>
                                    <li>Babez</li>
                                    <li>Adidas Zx Flux</li>
                                    <li>Toool.de</li>
                                </ul>
                            </span>


                            <h2 class="title is-4 is-heavy" id="#traffic"> Organic Traffic Analysis</h2>
                            Zalando ranks for over 1.1m Keywords for<br>
                            1.1m monthly organic visits.

                            <h2 class="title is-4 is-heavy" id="keyword">Keyword targeting and Traffic</h2>
                            <p>Most of the traffic actually comes from searches for other brands such as Bershka and Adidas. The share of clothing-related keywords is actually quite small compared to brands.</p>
                            <h2 class="title is-5 is-heavy">Main Keywords generating traffic in Germany (excluding Zalando brand terms):</h2>
                            <h2 class="title is-5 is-heavy">Other brands:</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>Bershka (36k)</li>
                                    <li>Adidas (34k)</li>
                                    <li>Esprit (32k)</li>
                                    <li>Brikenstock(25k)</li>
                                    <li>Topshop(23k)</li>
                                    <li>Cecil(20k)</li>
                                    <li>Mango(19k)</li>
                                </ul>
                            </span>
                            <p>...</p>
                            <h2 class="title is-5 is-heavy">Other terms:</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>kleider (15k)</li>
                                    <li>Schuhe(14k)</li>
                                    <li>Herrenausstatter(9k)</li>
                                    <li>Brautschuhe(4.6k)</li>
                                    <li>Sommerkleider(4.5k)</li>
                                    <li>Taschen (3.8k)</li>
                                </ul>
                            </span>
                            <p>...</p>

                            <h2 class="title is-5 is-heavy" id="performance">Site Performance for Mobile: Javascript issues</h2>
                            <figure class="image is-fullwidth is-outlined">
                                <img alt="Zalando Lighthouse" src="/zalandolight.png">
                            </figure>

                            <p>Performance is not perfect for such a big site. The main issues reported by Lighthouse a regarding Javascript.</p>

                            <h2 class="title is-4 is-heavy" id="performance">Fun Facts</h2>
                            <p>Zalando is so big in Germany many mispellings of "Zalando" still have considerable search volume.</p>
                            <p>For instance:</p>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>"zalandoo": 8400 SV</li>
                                    <li>"zalandi": 3900 SV</li>
                                    <li>"zalamdo": 3200 SV</li>
                                    <li>"zalande": 1200 SV</li>
                                </ul>
                            </span>
                    </div>{{>articlesCTA}}
                </div>

            </div>
    </section>

</div>
<section class="audit-hero hero is-large-intro">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <h2 class="title is-2 is-heavy boost-margin has-text-centered">Other SEO Blog Case Studies</h2>

            <div class="columns is-centered is-multiline">


                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-zalando"><img src="/images/clients/zalando_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-zalando">Case Study: Zalando</a>
                    </h3>
                    <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>

                </div>





                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-hellofresh"><img src="/images/clients/hellofresh_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-hellofresh">Case Study: HelloFresh</a>
                    </h3>

                    <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>

                </div>


                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-hometogo"><img src="/images/clients/hometogo_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-hometogo">Case Study: HomeToGo</a>
                    </h3>
                    <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>

                </div>




                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-juniqe"><img src="/images/clients/junique_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-juniqe">Case Study: Juniqe</a>
                    </h3>
                    <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>

                </div>






                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-wooga"><img src="/images/clients/wooga_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-wooga">Case Study: Wooga</a>
                    </h3>
                    <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>


                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-n26"><img src="/images/clients/n26_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-n26">Case Study: N26</a>
                    </h3>
                    <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>


                </div>
            </div>
        </div>
    </div>
</section>