<div class="content case-study-post single-post casestudy-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Mini case study: Juniqe (Berlin)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>

                            </ul>
                        </nav>
                        <h6 class="title is-6 is-black">Published: March 22th 2019</h6>

                        <h6 class=" title is-6 is-black"><a href="/en/contact">By Alex Bieth</a></h6>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">Description</h2>
                        <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>
                        <h2 class="title is-5 is-heavy">Founded: 2014</h2>

                        <h2 class="title is-4 is-heavy">Executive Summary</h2>
                        <p>Number of Backlinks when excluding company top level domains is quite low considering the size and notoriety of the company.</p>
                        <p>There is lot of room for improvements for indexation, a very high proportion of the pages currently indexed do not get any organic traffic.</p>

                        <div class="card-case">
                            <h2 class="title is-3 reduced-margin reduced-top-margin">120k SEO visits</h3>
                                <h3 class="subtitle is-5 reduced-top-margin">12% traffic brand-related</h3>

                                <h2 class="title is-3 reduced-margin reduced-top-margin">Most backlinks are from Juniqe's other top level domains</h3>
                                    <h3 class="subtitle is-5 reduced-top-margin">775 pages out of 190k get 10+ visits</h3>

                                    <h2 class="title is-3 reduced-margin">Juniqe 38k Search Volume & Brand confusion, many searching for "Junique" (28k Search Volume)</h3>
                                        <h3 class="subtitle is-5 reduced-top-margin">Star Keyword: Bilder</h3>
                        </div>

                        <h2 class="title is-4 is-heavy">Google Trends (in Germany)</h2>
                        <p>In blue brand search over the years. In red the brand name misspelt.</p>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Google Trends" src="/juniqetrends.png" />
                        </figure>


                        <h2 class="title is-4 is-heavy">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>1.37m backlinks from 871 domains but</li>
                                <li>6k only excluluding other tlds and</li>
                                <li>4k when also excluding links from kruthdesign.com (DA of 3)</li>
                                <li>18% of backlinks are from pages with little Page Authority.</li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Non brand related Backlinks with Page Authority of 25 and above (according to ahrefs)</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a rel="nofollow" target="_ blank" href="https://www.lybstes.de/">Lybstes. Selber machen - Lybstes.</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https:///www.coworkingtoddler.com/">Coworking Toddler</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://smallcaps-blog.blogspot.com/">Small Caps</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://www.manuelkilger.com/">Manuel Kilger Illustration</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://germanpressdays.de/">GermanPressDays</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://wunderdata.com/">Wunderdata - Content Marketing for eCommerce</a></li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Organic Traffic Analysis</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Juniqe ranks for over 65k Keywords for 119k monthly organic visits.</li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Keyword targeting and Traffic</h2>
                        <h2 class="title is-5 is-heavy">Main Keywords generating traffic:</h2>
                        <ul>
                            <li>Brand / search terms with brand: around 15k (12%)</li>
                            <li>bilder (3.5k)</li>
                            <li>black friday (3k)</li>
                            <li>poster (3k)</li>
                            <li>bilder auf leinwand (2k)</li>
                            <li>duschvorhang (1.8k)</li>
                            <li>kissen (1.3k)</li>
                            <li>geschenke (1.2k)</li>
                            <li>wandbilder (1.1k)</li>
                            <li>leinwandbilder (1.1k)</li>
                            <li>poster kaufen (1k)</li>
                        </ul>


                        <h2 class="title is-5 is-heavy">Pages with traffic compared to number of pages indexed</h2>
                        <p>From around 190k pages indexed, over 775 pages each get at least 10 visits per month.</p>

                    </div>
                </div>{{>articlesCTA}}
            </div>
        </div>
    </section>


    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/casestudy/juniqe`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "Case4"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="audit-hero hero is-large-intro">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <h2 class="title is-2 is-heavy boost-margin has-text-centered">Other SEO Blog Case Studies</h2>

            <div class="columns is-centered is-multiline">


                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-zalando"><img src="/images/clients/zalando_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-zalando">Case Study: Zalando</a>
                    </h3>
                    <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>

                </div>





                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-hellofresh"><img src="/images/clients/hellofresh_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-hellofresh">Case Study: HelloFresh</a>
                    </h3>

                    <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>

                </div>


                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-hometogo"><img src="/images/clients/hometogo_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-hometogo">Case Study: HomeToGo</a>
                    </h3>
                    <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>

                </div>




                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-juniqe"><img src="/images/clients/junique_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-juniqe">Case Study: Juniqe</a>
                    </h3>
                    <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>

                </div>






                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-wooga"><img src="/images/clients/wooga_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-wooga">Case Study: Wooga</a>
                    </h3>
                    <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>


                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/case-study-n26"><img src="/images/clients/n26_dark.svg" alt="blog article" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/case-study-n26">Case Study: N26</a>
                    </h3>
                    <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>


                </div>
            </div>
        </div>
    </div>
</section>