<div class="content casestudy-en">

    <!-- Intro Audit Block-->
    <section class="casestudy-hero hero is-large-intro wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy has-text-centered">SEO Berlin Case Studies</h1>

                <div class="columns is-centered">
                    <div class="column is-12 has-text-centered">
                        <h2 class="title is-4 is-heavy has-text-centered">Purpose</h2>
                        <div style="font-size:18px">
                            <h2 class="title is-5 has-text-centered">SEO Short Analysis of some Berlin Start-ups. Looking at their:</h2>
                            <span class="blue-dot-list big">
                                <ul>
                                    <li>Backlink profile</li>
                                    <li>Keywords generating traffic</li>
                                    <li>Dependance on brand</li>
                                    <li>Ratio of traffic generating pages</li>
                                    <li>Mobile technical performance</li>
                                </ul>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
    </section>



    <!-- Full SEO Block -->
    <section class="cases-hero clients-hero off-white hero is-medium">
        <div class="hero-body remove-padding">

            <!-- Onpage SEO Block -->
            <div class="container reduced margin-boost-large">
                <h2 class="title is-3 is-heavy has-text-centered boost-margin">List of Berlin Start-ups SEO Study (click on a logo)</h2>

                <div class="columns is-centered is-multiline">
                    <div class="column is-12 logo-container">
                        <div class="columns is-centered is-multiline">
                            <div class="column is-3">
                                <a href="/en/casestudy/hometogo">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/hometogo_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/fromatob">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/fromatobe_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/modomoto">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/modomoto_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/n26">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/n26_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/juniqe">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/junique_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/hellofresh">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/hellofresh_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/wooga">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/wooga_dark.svg">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-3">
                                <a href="/en/casestudy/zalando">
                                    <figure class="image">
                                        <img class="client-logo" src="/images/clients/zalando_dark.svg">
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title is-3 is-heavy has-text-centered boost-margin">Summary of Berlin sites</h2>
                <div class="columns is-centered">
                    <div class="column is-12 logo-container">
                        <table class="client-compare">
                            <tr>
                                <th>Website</th>
                                <th>DA</th>
                                <th>Traffic*</th>
                                <th>% brand</th>
                            </tr>
                            <tr>
                                <td>HometoGo</td>
                                <td>57</td>
                                <td>500k</td>
                                <td>6%</td>
                            </tr>
                            <tr>
                                <td>FromAtoB</td>
                                <td>45</td>
                                <td>290k</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>Hello Fresh</td>
                                <td>74</td>
                                <td>250k</td>
                                <td>40%</td>
                            </tr>
                            <tr>
                                <td>N26</td>
                                <td>74</td>
                                <td>230k</td>
                                <td>90%</td>
                            </tr>
                            <tr>
                                <td>Juniqe</td>
                                <td>63</td>
                                <td>120k</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td>Modomoto</td>
                                <td>48</td>
                                <td>6k</td>
                                <td>65%</td>
                            </tr>
                            <tr>
                                <td>Wooga</td>
                                <td>71</td>
                                <td>24k</td>
                                <td>90%</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p class="has-text-centered">* ahrefs estimation (monthly)</p>
            </div>
        </div>
    </section>
</div>