<div class="main">
    <div class="services2">
        <div class="breadcrumb">
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a>SEO Berlin </a>
        </div>
        <h1 class="h1services">SEO Berlin Case Studies</h1><br><br>
        <h2>Purpose</h2>
        <div class="big marginright2 marginleft">SEO Short Analysis of some Berlin Start-ups. Looking at their:<br>
            <ul>
                <li>backlink profile,</li>
                <li>keywords generating traffic,</li>
                <li>dependance on Brand </li>
                <li>indexation and ratio of pages which are getting traffic,</li>
                <li> mobile technical performance.</li>
        </div>
        </ul>
        <br>
        <br>
        <h2>List of Berlin Start-ups SEO Study (click on a logo)</h2>
        <br><br>

        <a href="/en/casestudy/hometogo"><img class="blacknwhite inline" src="/hometogologo.png">
        </a>
        <a href="/en/casestudy/fromatob"><img class="blacknwhite inline" src="/fromatob.png">
        </a>
        <a href="/en/casestudy/hellofresh"><img class="blacknwhite inline" src="/HelloFreshlogo.png">
        </a>
        <a href="/en/casestudy/N26"> <img class="blacknwhite inline" src="/n26logo.jpg">
        </a>
        <a href="/en/casestudy/juniqe"> <img class="blacknwhite inline" src="/juniqelogo.png">
        </a>
        <a href="/en/casestudy/modomoto"> <img class="blacknwhite inline" src="/modomotologo.png">
        </a>
        <a href="/en/casestudy/wooga"> <img class="blacknwhite inline" src="/woogalogo.png">
        </a><br><br><br>
        <h2>Summary of Berlin sites</h2>
        <table style="font-size:17px">
            <tr>
                <th>website</th>
                <th>DA</th>
                <th>traffic*</th>
                <th>% brand</th>
            </tr>
            <tr>
                <td>HometoGo</td>
                <td>57</td>
                <td>500k</td>
                <td>6%</td>
            </tr>
            <tr>
                <td>FromAtoB</td>
                <td>45</td>
                <td>290k</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Hello Fresh</td>
                <td>74</td>
                <td>250k</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>N26</td>
                <td>74</td>
                <td>230k</td>
                <td>90%</td>
            </tr>
            <tr>
                <td>Juniqe</td>
                <td>63</td>
                <td>120k</td>
                <td>12%</td>
            </tr>
            <tr>
                <td>Modomoto</td>
                <td>48</td>
                <td>6k</td>
                <td>65%</td>
            </tr>
            <tr>
                <td>Wooga</td>
                <td>71</td>
                <td>24k</td>
                <td>90%</td>
            </tr>
        </table>
        <br>
        * ahrefs estimation (monthly)<br><br><br><br><br>
    </div>
</div>
{{>contactmain}}