<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor"  ><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   > {{{__ "getintouch"}}}</h1><br>
                    </div><br>



                    <div class="contact-page-form">

                        {{>formcontact-min}}<br>
                    </div>
        <section class="clients-hero is-medium">
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered">
                    <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                    {{>clientssmall-min}}
                </div>
            </div>
        </section>


                </div>
            </div>
        </div>
    </div>
</section>


