<div class="content consultancy-en">

    <!-- Intro Audit Block-->
    <section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container reduced is-centered">


                <p class="is-heavy has-text-centered"> <img alt="404 illustration" class="is-centered" src="/404.png"/><br><br>There was an error. The page requested does not exist or there was an error sending the email. <br>
                    You can try again or alternatively send an email to:

                    alex@seoberlino.com
                <br><br><br><br>    <a class="button is-large is-link is-outlined title is-3 is-centered" href="/{{{__ "lang"}}}/{{{__ "beratungurl"}}}">
                        Consultancy
                    </a>


                    <a class="button is-large is-link is-outlined title is-3 is-centered" href="/{{{__ "lang"}}}">
                        Homepage
                    </a></div></p>





                </div><br><br><br><br>
            </div>
        </div>
    </section>
</div>
