<div class="content consultancy-en">

    <!-- Intro Audit Block-->
    <section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-2 is-heavy has-text-centered"> There was an error sending the email. <br>
                    You can try again or alternatively send an email to:<br><br>

                    alex@seoberlino.com
                </h2><br><br><br>
                <div style="padding-left:20%">


                    <a class="button is-medium is-link is-outlined" href="/{{{__ "lang"}}}/blog">
                        Visit our SEO Blog
                    </a><br><br>
                    <a class="button is-medium is-link is-outlined" href="/{{{__ "lang"}}}">
                        Back to Homepage
                    </a>
                </div><br><br><br><br>
            </div>
        </div>
    </section>
</div>