<div class="main">
 

  <div class="services3">
    <div class="infoTitle">
      <h1>Impressum</h1>
    </div>
    <div class="container marginright">
      <div class="infoMain2">E-Mail: seoberlino@gmail.com</div>
      <div class="infoMain2">Internet: www.seoberlino.com </div>
      <div class="infoMain2">Kiehlufer, 12059 Berlin</div>
      <div class="infoMain2">
        Inhaltlich Verantwortlicher nach § 10 Absatz 3 Verantwortlich für
        den redaktionellen Bereich: Alex Bieth
      </div>
    </div>
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <br /> <br />
  </div>
</div>
