<div class="content single-page impressum-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">Impressum SEO Berlin</h1>


            </div>
        </div>
    </section>



    <!-- Impressum Block-->
    <section class="audit-hero off-white hero is-medium">
        <div class="hero-body remove-padding">

            <div class="container reduced boost-margin">
                <div class="columns is-centered">
                    <div class="column is-12">
                        <p>E-Mail: alex@seoberlino.com</p>
                        <p>Internet: www.seoberlino.com</p>
                        <p>Kiehlufer, 12059 Berlin</p>
                        <p>
                            Inhaltlich Verantwortlicher nach § 10 Absatz 3 Verantwortlich für
                            den redaktionellen Bereich: Alex Bieth
                        </p>
                        <p>
                            Alex Bieth: SEO Berater in Berlin mit 10 Jahren Erfahrung.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>