<div class="main">
    <div class="services3">
        <div class="infoTitle">
            <h1 class="big bold">Impressum SEO Berlin</h1>
        </div>
        <div class="container marginright txt2">
            <div class="infoMain2">E-Mail: alex@seoberlino.com</div>
            <div class="infoMain2">Internet: www.seoberlino.com </div>
            <div class="infoMain2">Kiehlufer, 12059 Berlin</div><br /> <br />
            <div class="infoMain2">
                Inhaltlich Verantwortlicher nach § 10 Absatz 3 Verantwortlich für
                den redaktionellen Bereich: Alex Bieth
            </div>
            <div>
                Alex Bieth: SEO Berater in Berlin mit 10 Jahren Erfahrung.
            </div>
        </div>
        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    </div>
</div>