<div class="content single-page impressum-en">

    <!-- Intro Audit Block-->




    <!-- Impressum Block-->
    <section class="audit-hero off-white margin-top hero is-medium">
        <div class="hero-body"><br><br><br><br>

            <h1 class="title is-2 is-heavy boost-margin has-text-centered">Impressum Alex Bieth / SEO Berlino</h1>


            <div class="container reduced boost-margin">
                <div class="columns is-centered">
                    <div class="column is-12">
                        <p>E-Mail: alex@seoberlino.com</p>
                        <p>Internet: www.seoberlino.com</p>
                        <p>Kiehlufer, 12059 Berlin</p>
                        <p>
                            Inhaltlich Verantwortlicher nach § 10 Absatz 3 Verantwortlich für
                            den redaktionellen Bereich: Alex Bieth
                        </p>
                        <p>Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz:
                            USt-IdNr / VAT Identification number: DE312544983
                        </p>
                        <p>IHK-Mitgliedsnummer: 107#1914164
                        </p>
                        <p><a href="https://www.unternehmensverzeichnis.org/2501224708447" target="_blank">EBID-Nummer:2 501224 708447</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>