<div class="content single-page impressum-en">

    <!-- Intro Audit Block-->




    <!-- Impressum Block-->
    <section class="audit-hero off-white margin-top hero is-medium">
        <div class="hero-body"><br><br><br><br>

            <h1 class="title is-2 is-heavy boost-margin has-text-centered">Jobs</h1>


            <div class="container reduced boost-margin">
                <div class="columns is-centered">
                    <div class="column is-12">
                        <h2>SEO Consultants</h2>
                        German and English language experienced SEO Consultants.
                        <br><br>Requirements: at least 1 year experience, good knowledge of Google Analytics, Ahrefs or similar, Google Search Console, HTML & CSS & Javascript (optional), tools such as Screaming Frog.<br><br>
                        If interested, please get in touch: alex@seoberlino.com, with "Consultant" in subject; please also include CV, cover letter and salary expectations.
                    </div>
                </div>
            </div>
            <br><br>

            <div class="container reduced boost-margin">
                <div class="columns is-centered">
                    <div class="column is-12">
                        <h2>Outreach Specialists</h2>
                        German and English language native copywriters who also have experience with outreach and understand which backlinks can make a difference. Looking for long-term collaboration, to start work asap.
                        <br> <br> Requirements: at least 1 year experience, good knowledge of Google Analytics, Ahrefs or similar, tools such as Screaming Frog.
                        <br> <br> If interested, please get in
                        touch: alex@seoberlino.com, with "Outreach" in subject; please also include CV, backlink campaign examples, cover letter and salary expectations.

                    </div>
                </div>
            </div>
            <br><br>

            <div class="container reduced boost-margin">
                <div class="columns is-centered">
                    <div class="column is-12">
                        <h2>Copywriters</h2>
                        German and English language native copywriters who also have experience with outreach and understand which backlinks can make a difference. Looking for long-term collaboration, to start work asap.
                        <br> <br> Requirements: at least 1 year experience, good knowledge of Google Analytics, Ahrefs or similar, tools such as Screaming Frog.
                        <br> <br> If interested, please get in
                        touch: alex@seoberlino.com, with "Copywriter" in subject; please also include CV, content example, cover letter and salary expectations.

                    </div>
                </div>
            </div>


    </section>
</div>