
<div class="main">
    <div class="mainlogin">
        <Helmet>
            <meta charSet="utf-8" />
            <title>Log-in | SEO Berlino </title>
            <meta type="description" content="" />
            <meta name="robots" content="noindex, nofollow" />
            <link rel="canonical" />
        </Helmet>
    
        <div class="services3">

            <form method="POST">
                <label>Email</label>
                <input type="email" placeholder="email address" name="emailaddress"required>

                <label>Password</label>
                <input type="password" placeholder="password" name="password" required>


                <button class="registerSubmit" type="submit">Log in</button>

                {{#if errorMessage}}
                <p id="error">
                    Error! The password is incorrect, or the email address not registered.<br>
                    Please check and try again.
                </p>
                {{/if}}

            </form>
        </div>




    </div>
</div>
<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
<br /> <br /> <br /> <br />
</div>
