<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>{{{__ "sponsorship"}}}</title>
    <meta
      name="description"
      content="SEO Services Audit Ad-hoc - SEO Consultant in Berlin"
    />
    <link rel="canonical" href={"/" + this.props.lang + "/services"} />
  </Helmet>
  <div class="services2">
    <div class="infoTitle">
      <br />
      <br />
      <h1 class="h1services2">{{{__ "sponsorship"}}}</h1>
    </div>
    <br />
    <br />
    <div class="intro20">
      <div class="introQuarter">
        <div class="transparent"> </div>
        <br />
        <div class="limited">LIMITED OFFER</div>

        <br />

        <p class="h2hp">{{{__ "partnershipMP"}}}</p>
      </div>
    </div>
    <br />
  </div>
  <ContactMain />
</div>
