<div class="main">
    <div class="services2">
        <div class="infoTitle"> <br /> <br />
            <h1 class="h1services2">{{{__ "sponsorship"}}}</h1>
        </div><br /><br />
        <div class="intro20">
            <div class="introQuarter">
                <div class="transparent"> </div><br /> <br /> <br /> <br />
                <p class="h2hp">{{{__ "partnershipMP"}}}</p><br /> <br /> <br />
                <p class="h2hp">Partners</p>
                <img src="/spiced.jpeg" alt="spiced academy" width="20%" />
            </div>
        </div><br />
    </div>