<section class="clients-hero hero is-medium"><br><br><br>
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h1 class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h1>
            <hr>{{>clients-min}}
        </div>
    </div>
</section>

<section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
    <section class="testimonials-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title h1HP is-red is-heavy boost-margin">{{{__ "testimonialsTitle"}}}</h2>

                <div class="columns is-multiline has-text-left">
                    {{>testimonials-min}}


                    <section><br><br><br><br>
                        <h3 class="subtitle is-4 has-text-centered">Agile Coach </h3>
                        <div class="column is-12 is-centered">

                            <div class="card testimonial-card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-center">
                                            <figure class="image is-48x48 no-margins">
                                                <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <h3 class="title is-4 is-heavy is-black">Sabine Veidemane</h3>
                                            <h4 class="subtitle is-6 is-heavy is-black">Team Lead CRM Analytics - Marketing Content Marketing @ HelloFresh</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="content columns is-centered"><br>Alex joined our HelloFresh Marketing BI team in October 2019 as an Agile expert to completely revamp our messy processes around using Jira for workload planning and
                                        monitoring. Over the
                                        next few months he
                                        set our team up for future success as he switched us to new workflows, Jira boards and working in 2-week Sprints. He introduced Agile ceremonies, such as Sprint planning and Retrospectives, and concepts around
                                        Story Points
                                        for ticket estimation which brought it all to life and made us much more focused and structured! As a Team Lead within Marketing BI, I can say that it also allowed me to bring my stakeholder expectation
                                        management to a
                                        whole new higher level. It was a real pleasure to work with Alex and his down-to-earth and approachable can-do attitude!</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </section>
</section>