<div class="content single-post lexicon lexicon-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/duplicate.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Scrum’s Three Pillars of Empiricism</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Lexicon Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/agile-coach-berlin">Scrum</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">
                        <p>Scrum is a process framework that has been used to manage work on complex products since the 1990s and is based on 3 pillars of empirical process control: transparency, inspection, and adaptation.</p>

                        <h2>Transparency</h2>
                        <p>The important aspects of the process are visible to the people responsible for the outcome and are defined by a common standard so that observers share a common understanding.
                        </p>
                        <h2>Inspection</h2>
                        <p>Scrum users frequently inspect Scrum artifacts and progress to detect variances.
                        </p>
                        <h2>Adaptation</h2>
                        <p>If one aspect of a process deviate outside acceptable limits, and that the resulting product will be unacceptable, the process must be adjusted to minimize further deviation.
                        </p>
                        <p>The 4 Scrum events for inspection and adaptation: Sprint Planning • Daily Scrum • Sprint Review • Sprint Retrospective
                        </p>

                    </div>

                </div>
            </div>
        </div>
</div>
</section>
<div class="columns is-centered hero-body">
    <div class="column is-6">

        <div class="column is-8 is-offset-1 intro-image">
            <img alt="Scrum illustration" class="illustration" src="/images/landingpage_intro_rocket.jpg" />
        </div>

    </div>

    <div class="column is-5-desktop is-offset-1">
        <h3> About Scrum</h3>

        <p><a href="/en/scrum/pillars">Scrum’s Three Pillars of Empiricism</a></p>
        <p><a href="/en/scrum/team">The Scrum Team</a></p>
        <p><a href="/en/scrum/events">Scrum Events</a></p>
        <p><a href="/en/scrum/artifacts">Scrum Artifacts & Transparency</a></p>


    </div>
</div>