<div class="content single-post lexicon lexicon-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/duplicate.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Scrum Team</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Lexicon Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/agile-coach-berlin">Scrum</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">

                        <h2>Product Owner (PO)</h2>
                        <p>The PO is responsible for maximizing the value of the product resulting from work of the DevTeam and is the sole responsible for managing the Product Backlog and is accountable for:

                            • Clearly expressing Product Backlog items, ensuring the DevTeam understands items in the Product Backlog to the level needed.
                            • Ordering the items in the Product Backlog by priority

                        </p>
                        <h2>The DevTeam
                        </h2>
                        <p>
                            The DevTeam consists of a structured team of professionals who manage their own work are the only who deliver a potentially releasable Increment of “Done” product at the end of each Sprint. A “Done” increment is required
                            at the Sprint Review.

                            • No one (not even the Scrum Master) tells the Development Team how to turn Product Backlog into Increments of potentially releasable functionality;
                            • Development Teams are cross-functional, with all the skills as a team necessary to create a product Increment and Accountability belongs to the Development Team as a whole.

                        </p>
                        <h2>The Scrum Master
                        </h2>
                        <p>The Scrum Master is responsible for promoting and supporting Scrum by helping everyone understand Scrum theory, practices, rules, and values.

                            The Scrum Master serves the Product Owner:
                            • Ensuring that goals, scope, and product are understood by everyone on the team
                            • Finding techniques for effective Product Backlog management;
                            • Helping the Scrum Team understand the need for clear and concise Product Backlog items; • Understanding product planning in an empirical environment;
                            • Ensuring the Product Owner knows how to arrange the Product Backlog to maximize value;
                            • Facilitating Scrum events as requested or needed.

                            The Scrum Master serves the DevTeam
                            • Coaching the Development Team in self-organization and cross-functionality;
                            • Helping the Development Team to create high-value products;
                            • Removing impediments to the Development Team’s progress;
                            • Facilitating Scrum events as requested or needed; and,
                            • Coaching the Development Team in organizational environments in which Scrum is not yet fully adopted and understood
                        </p>

                    </div>

                </div>
            </div>
        </div>
</div>
</section>
<div class="columns is-centered hero-body">
    <div class="column is-6">

        <div class="column is-8 is-offset-1 intro-image">
            <img alt="Scrum illustration" class="illustration" src="/images/landingpage_intro_rocket.jpg" />
        </div>

    </div>

    <div class="column is-5-desktop is-offset-1">
        <h3> About Scrum</h3>

        <p><a href="/en/scrum/pillars">Scrum’s Three Pillars of Empiricism</a></p>
        <p><a href="/en/scrum/team">The Scrum Team</a></p>
        <p><a href="/en/scrum/events">Scrum Events</a></p>
        <p><a href="/en/scrum/artifacts">Scrum Artifacts & Transparency</a></p>


    </div>
</div>