<div class="main">

  <img
    src="/auditmainpic/seonews.jpg"
    title="news, a photo by raw pixel"
    alt="SEO News"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}}</a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seonews"> SEONEWS </a>
    </div>

    <h1 class="h1services">SEONews</h1>

    <div>

      <NewsItems />
      <div class="newsItem">
        <p class="low">
          Google+ to close down.
        </p>
      </div>
      <div>

          <div class="txt3">
            There have many talks about using Google+ for SEO. Despite
            being a flop especially in Europe, it was still a Google
            product but now finally after so much resistance, it's being
            deactivated and therefore ends any hesitation to use it to
            please Google.
          </div>

      </div>
      <div class="newsItem">
        <img
          alt="importance"
          class="importancenews"
          src="/orangelight.jpg"
        />
        <p  class="medium">
          Google admits personalised search results limited
        </p>
      </div>
      <div>

          <div class="txt3">
            Of course location is a still big factor in search results,
            but other than that and searches done just before, there is
            hardly any other personalisation.
            <a
              target="_blank"
              class="block bold"
              href="https://www.cnbc.com/2018/09/17/google-tests-changes-to-its-search-algorithm-how-search-works.html"
            >
              read_more
            </a>
          </div>

      </div>
      <div class="newsItem">
        <img
          alt="importance"
          class="importancenews"
          src="/orangelight.jpg"
        />
        <p class="medium">
          Search Console and query data that may make the overall numbers
          look worse
        </p>
        <div>

            <div class="txt3">
              since this summer, Google has made changes to how it filters
              reports, removing some query data.
              <a
                target="_blank"
                class="block bold"
                href="https://twitter.com/googlewmc/status/1034703153470599168"
              >
                read_more
              </a>
            </div>

        </div>
      </div>
    </div>
</div>


</div>
 {{>extendedfooter}}  
