<section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
    <div class="hero-body remove-padding">
        <div class="container reduced"><br><br>
            <h2 class="title is-2 is-heavy has-text-centered"> {{{__ "successemailmessage"}}}
            </h2><br><br>
            <div style="padding-left:10%">
                <a class="button is-large is-link is-outlined" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">
                    Visit our SEO Blog
                </a><br><br>
                <a class="button is-large is-link is-outlined" href="/{{{__ "lang"}}}">
                    Back to Homepage
                </a>
            </div><br><br><br><br>
        </div>
    </div>
</section>