<div class="content consultancy-en">

    <!-- Intro Audit Block-->
    <section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-2 is-heavy has-text-centered"> {{{__ "successemailmessage"}}}
                </h2>


            </div>
        </div>
    </section>
</div>