<div class="main">
    <div class="services2"><br><br><br><br><br><br><br><br><br>
        <h1>
            Thank you for your enquiry, we shall be coming back to you as soon as we can!
        </h1>


        <br><br><br><br><br><br><br><br><br>
    </div>
</div>