@media (max-width: 768px) {
  .imageHP {
    width: 60%;
    height: 80%;
  }
  .txt {
    font-size: 17px;
    color: black;

    margin-left: 10%;
    width: 70%;
  }

  .txt2 {
    font-size: 17px;
    color: black;

    margin-left: 10%;
    font-size: 16px;
    color: black;

    margin-top: 10px;
  }
  .txt a,
  .txt2 a {
    color: white;
  }

  .txthead {
    left: 0px;
  }

  .icon {
    margin-left: 15%;
  }

  .intro3 {
    margin-bottom: 20px;
    width: 85%;
    margin-left: 5%;
  }
  .portrait {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  .introQuarter {
    margin: 10px;
  }
  .intro {
    margin-top: 100px;
    position: relative;
    margin-right: 0px;

    width: 70%;
    margin-bottom: 50px;
    height: 400px;
  }

  .fieldMessage {
    width: 220px;
  }

  .introContent {
    width: 95%;
  }

  .buttonHP {
    font-size: 10px;
    top: 40px;
  }
  .buttonHP2 {
    font-size: 10px;
    position: relative;
    width: 80px;
  }
  .intro2 {
    margin-top: 2px;
    position: relative;
    text-align: center;
    padding: 0px;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .homepageNews {
    margin-top: 2px;
    position: relative;
    padding: 10px;
    height: auto;
    width: 90%;
  }
  .footer {
    text-align: left;
    height: 60px;
    z-index: 30;
    font-size: 10px;
    width: 100%;
  }

  .navEntry {
    font-size: 12px;
    margin-left: 5%;
  }

  .message404 {
    color: purple;
    font-size: 70px;
    background-color: #586069;
  }

  .blogArticlesHP {
    position: relative;
    display: block;
    top: 10px;
    margin-left: 5px;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .hey span {
    top: 140px;
    font-size: 19px;
    margin-left: 170px;
  }

  .hey span:nth-child(1) {
  }

  .hey span:nth-child(2) {
    top: 158px;
    margin-left: 170px;
  }

  .hey span:nth-child(3) {
    top: 160px;
    margin-left: 155px;
  }
  .hey span:nth-child(4) {
    top: 178px;
    margin-left: 170px;
  }
  .hey span:nth-child(5) {
    top: 140px;
    margin-left: 170px;
  }
  .hey span:nth-child(6) {
    top: 158px;
    margin-left: 170px;
  }

  .hey span:nth-child(7) {
    top: 162px;
    margin-left: 155px;
  }

  .hey span:nth-child(8) {
    top: 178px;
    margin-left: 170px;
  }

  .navEntries {
    top: 0px;
    left: -80px;
    background-color: none;
    opacity: 0.7;

    display: inline;
    position: fixed;

    height: 50px;
  }

  .footerlink {
    margin-left: 20px;
    background-color: lightgrey;
  }

  .navEntries a {
    top: 0px;
    font-size: 11px;
    color: black;
    padding: 0px 0px;

    text-decoration: none;
  }
  .navEntry {
    font-size: 10px;
    color: grey;

    margin-right: 2px;
    text-decoration: none;
    height: 50px;
    top: 0px;
    z-index: 20;
    background-color: white;
  }
  .dropdown .dropbtn {
    display: inline;
    font-size: 12px;
    padding: 12px 2px;
    background-color: none;
    z-index: 20;

    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .languageBtnEN {
    position: fixed;
    display: inline;
    top: 10px;
    left: 200px;
    z-index: 400;
    height: 20px;
    width: 20px;
  }
  .toggleMan {
    width: 40px;
    height: 40px;
  }
  .toolbar {
    height: 50px;
  }

  .languageBtnDE {
    position: fixed;
    display: inline;
    height: 20px;
    width: 20px;

    z-index: 400;
    top: 10px;
    left: 240px;
  }

  .map {
    display: none;
  }

  .rightContact {
    display: none;
  }
  .main {
    margin-top: 20%;
  }

  .maincontact2 {
    margin-top: 80px;
    width: 96%;
    margin-left: 0px;
  }

  .mainHP {
    display: block;
    margin: 0;
    width: 100%;
  }

  .infoTitle {
    font-size: 16px;
    margin-top: 30px;
    z-index: 3000;
  }
  .infoIntro {
    margin-left: 10%;
    font-size: 18px;
    width: 80%;
    top: -100px;
  }
  .infoMain {
    margin-left: 10%;
    width: 80%;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .mainBlog {
    display: block;
  }

  .leftBlog {
    font-style: bariolregular;
    position: relative;
    height: auto;
    padding: 40px;
    font-size: 16px;
    top: 50px;
    display: block;
    z-index: 10;
    width: 200px;
    margin-left: 20%;
  }
  .leftBlog a:hover {
    color: white;
  }

  .article {
    left: -100px;
    margin-top: 60%;

    display: block;
  }

  .blogArticleWindow {
    position: absolute;
    min-height: 1000px;
    margin-top: 100px;
    width: 90%;
    left: 0;

    margin-left: 5%;
    margin-right: 5%;
  }

  .articleArticle {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25%;
    padding: 5px;
    z-index: 0;
    font-size: 16px;
  }
  .blognote {
    margin-left: 35px;
    font-size: 12px;
  }
  .articleAuthor {
    margin-left: 10%;
  }
  .articleDate {
    margin-left: 10%;
  }
  .articleTitle {
    width: 60%;
    margin-left: 10%;
    font-size: 22px;
  }

  .animationHP {
    display: none;
  }

  .articlePic {
    height: 200px;
    width: 300px;
    margin-left: 10%;
  }

  .fade-in {
    margin-left: 0%;
    top: 190px;
    width: 80%;
    position: relative;
    border-radius: 0px;
  }

  .aboutpage {
    overflow: scroll;
    position: relative;
  }

  .blockAbout {
    font-size: 18px;
  }
  .blockAbout2 {
    font-size: 18px;
  }

  .about21 {
    font-size: 17px;
    width: 70%;
    position: relative;
    margin-top: 10%;
  }

  .about22 {
    font-size: 17px;
    position: relative;
    width: 50%;
  }

  .contactmeHead {
    font-size: 22px;
    width: 80%;
  }

  .leftContact {
    top: 30px;
    bottom: 50px;
    padding-bottom: 20px;
    position: relative;
  }

  .contactpage {
    width: 85%;
    margin-left: 10px;
  }

  .fieldMessage {
    height: 200px;
  }

  .toolbar_navigation_items {
    display: none;
  }
  .toolbar_logo {
    width: 120px;
    height: 40px;
  }

  .linkstoPageMainDiv {
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
  }
  .linkstoPageMainDiv li {
    padding: 7px;
  }
  .introQuarter {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .side-drawer {
    font-size: 28px;
    /* display: none; */
  }

  .linkstoPageMainDiv {
    display: none;
  }

  .toggle_button {
    height: 36px;
    width: 36px;

    /* display: none; */
  }

  .toolbar_navigation_items {
    display: none;
  }
}
