@media (max-width: 768px) {
  .imageHP {
    display: none;
  }
  .txt,
  .txt2 {
    font-size: 17px;
    color: white;
    margin: 2px;
    margin-left: 10%;
    width: 70%;
  }
  .txt a,
  .txt2 a {
    color: white;
  }
  .portrait {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  .intro {
    margin-top: 20px;
    position: relative;
    padding: 10px;
    height: 470px;
    width: 100%;
    margin-bottom: 20px;
  }

  .txt2 {
    font-size: 16px;
    color: white;
    margin: 1px;
    margin-top: 10px;
  }

  .buttonHP {
    font-size: 10px;
    top: 40px;
  }
  .buttonHP2 {
    font-size: 10px;
    position: relative;
    width: 80px;
  }
  .intro2 {
    margin-top: 2px;
    position: relative;
    padding: 10px;
    height: 340px;
    width: 100%;
  }

  .homepageNews {
    margin-top: 2px;
    position: relative;
    padding: 10px;
    height: auto;
    width: 100%;
  }
  .footer {
    text-align: left;
    height: 60px;
    z-index: 30;
    font-size: 10px;
    width: 100%;
  }

  .navEntry {
    font-size: 12px;
    margin-left: 5%;
  }

  .message404 {
    color: purple;
    font-size: 70px;
    background-color: #586069;
  }

  .blogArticlesHP {
    position: relative;
    display: block;
    top: 10px;
    margin-left: 5px;
    width: 80%;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .filterDiv {
    background: url("./applemob.jpg") repeat fixed;
  }

  h2:before {
    z-index: 10;
    color: #383b4b;
    position: absolute;
    display: flex;

    top: 220px;
    left: -295px;
    background-color: none;
  }

  .navEntries {
    top: 0px;
    left: -80px;
    background-color: none;
    opacity: 0.7;

    display: inline;
    position: fixed;

    height: 50px;
  }

  .footerlink {
    margin-left: 20px;
    background-color: lightgrey;
  }

  .navEntries a {
    top: 0px;
    font-size: 11px;
    color: black;
    padding: 0px 0px;

    text-decoration: none;
  }
  .navEntry {
    font-size: 10px;
    color: grey;

    margin-right: 2px;
    text-decoration: none;
    height: 50px;
    top: 0px;
    z-index: 20;
    background-color: white;
  }
  .dropdown .dropbtn {
    display: inline;
    font-size: 12px;
    padding: 12px 2px;
    background-color: none;
    z-index: 20;

    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .languageBtnEN {
    position: fixed;
    display: inline;
    top: 10px;
    left: 200px;
    z-index: 400;
  }

  .languageBtnDE {
    position: fixed;
    display: inline;

    z-index: 400;
    top: 10px;
    left: 240px;
  }

  .map {
    display: none;
  }
  .main {
    margin-top: 20%;
  }

  .mainHP {
    display: block;
    margin: 0;
  }

  .infoTitle {
    font-size: 16px;
    margin-top: 30px;
    z-index: 3000;
  }
  .infoIntro {
    margin-left: 10%;
    font-size: 18px;
    width: 80%;
    top: -100px;
  }
  .infoMain {
    margin-left: 10%;
    width: 80%;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .mainBlog {
    display: block;
  }

  .leftBlog {
    font-style: bariolregular;
    position: relative;

    height: auto;
    padding: 40px;
    font-size: 16px;
    top: 50px;
    display: block;
    z-index: 10;
    width: 200px;
    margin-left: 20%;
  }
  .leftBlog a:hover {
    color: white;
  }

  .article {
    left: -100px;
    margin-top: 60%;

    display: block;
  }

  .blogArticleWindow {
    position: absolute;
    min-height: 1000px;
    margin-top: 100px;
    width: 90%;
    left: 0;

    margin-left: 5%;
    margin-right: 5%;
  }

  .articleArticle {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25%;
    padding: 5px;
    z-index: 0;
    font-size: 16px;
  }
  .blognote {
    margin-left: 35px;
    font-size: 12px;
  }
  .articleAuthor {
    margin-left: 10%;
  }
  .articleDate {
    margin-left: 10%;
  }
  .articleTitle {
    width: 60%;
    margin-left: 10%;
    font-size: 22px;
  }

  .animationHP {
    display: none;
  }

  .articlePic {
    height: 200px;
    width: 300px;
    margin-left: 10%;
  }
  .aboutgeneric {
    font-size: 13px;
  }

  .fade-in {
    margin-left: 1%;
    top: 300px;
    width: 150px;
  }

  .roll-in-left {
    top: 230px;
  }

  .roll-in-left2 {
    width: 30%;
    left: 55%;
    top: 340px;
    font-size: 13px;
  }

  .swirl-in-fwd {
    font-size: 13px;
    width: 45%;
    left: -50px;
  }

  .swirl-in-fwd2 {
    top: 220px;
  }
  .bounce-in-top {
    top: 70px;
  }

  .bounce-in-top2 {
    top: 375px;
    left: -10px;
  }

  .roll-in-left3 {
    width: 80px;
    left: 15%;
    top: 57px;
    height: 7px;
    position: fixed;
    padding: 20px;
    font-size: 12px;
  }

  .contactmeHead {
    font-size: 22px;
    margin-top: 10%;
    margin-left: 20%;
    height: 30px;
    width: 80%;
  }
  .fieldMessage {
    height: 200px;
  }

  .toolbar_navigation_items {
    display: none;
  }

  .imageHPMob {
    position: relative;
    z-index: 0;
    margin-top: 70px;
    left: 10px;
    display: block;
    height: 390px;
    width: 360px;
  }
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }

  .linkstoPageMainDiv {
    display: none;
  }

  .toolbar_toggle_button {
    display: none;
  }
  .imageHPMob {
    display: none;
  }
}
