* {
  background-color: white;
  font-family: bariolregular;
}

a {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:active {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #ff851b;
  text-decoration: none;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

img {
  z-index: 100;
}

input {
  display: block;
  font-size: 19px;
  margin: 4px;
  width: 85%;
  height: 24px;
}

textarea.blogArticleInput {
  height: 900px;
  display: block;
  width: 75%;
  font-size: 19px;
}

select {
  display: block;
  font-size: 16px;
}

label {
  font-size: 16px;
  color: grey;
}

form {
  display: inline-block;
  position: relative;
  margin-top: 15%;
  left: 5%;
  width: 30%;
}

fieldset {
  display: flex;
  width: 100%;
  margin-left: 5%;
}

iframe {
  position: relative;
  display: inline-block;
  margin-top: 20%;
  margin-left: 70%;
}

.mainContact {
  position: relative;
  display: inline;
  margin-top: 25%;
}

.leftContact {
  position: relative;
  display: inline;
  margin-top: 30%;
}

#formButton {
  background-color: orange;
  width: 100px;
  height: 20px;
  color: white;
  margin-left: 70%;
}

/* Navigation Start*/

.containerNav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  z-index: 20;
  opacity: 0.9;

  position: fixed;

  background-color: white;
}
.navEntries {
  margin-left: 25%;
  top: 0px;
  padding: 10px 10px;
  position: fixed;
  z-index: 20;

  background-color: white;
}

.navEntry {
  font-size: 13px;
  color: grey;
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 0px;
  top: 0px;
  z-index: 20;
  background-color: white;
}

.mainBox {
  background-color: none;
  margin-top: 10%;
  margin-left: 5%;
  z-index: 20;
}

.main {
  margin-top: 10%;
}

.logo {
  position: fixed;
  top: 0px;
  left: 0px;
}

.navEntries a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 10px;

  text-decoration: none;
}

.languageBtn {
  position: fixed;
  top: 7px;
  left: 72%;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  height: 2px;

  color: black;
  padding: 15px 5px;
  background-color: none;
  z-index: 20;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;

  padding: 1px 5px;
  text-decoration: none;
  overflow: visible;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  overflow: visible;
}

/* Navigation END*/

/* HOMEPAGE start */
.filterDiv {
  background: url("./apple.jpg") no-repeat fixed;
  position: fixed;
  width: 100%;
  display: ;
  top: 0px;
  left: 0px;
  height: 90%;
  opacity: 1;
  z-index: -1;
  /* filter: alpha(opacity=20); */
}
.intro {
  background-color: #ff851b;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 120px;
  padding: 10px;
  bottom: 7%;
}

.container {
  position: relative;
}
.txt {
  font-size: 19px;
  color: black;
  background-color: #ff851b;
  margin: 1px;
  margin-top: 10px;
  margin-left: 300px;
}

p:hover {
  color: orange;
}

.buttonHP {
  background-color: none;
  color: #ff8c00;
  left: 900px;
  bottom: 10%;
  z-index: 10;
  position: fixed;
  height: 30px;
  width: 180px;
  font-size: 17px;

  border-radius: 120px;
  border: white 2px solid;
}

/* BLOG START  */

.listArticlesBlog {
  width: 100%;
  display: absolute;
  z-index: 10;
}

h4 {
  font-style: bariolregular;
  margin-left: 10%;
  text-decoration: underline;
  font-weight: bold;
  top: 120px;
  display: block;
  width: 20%;

  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
.blogWindow {
  width: 20%;

  display: inline;
  margin-left: 5%;
  position: absolute;
  height: 30px;
  top: 150px;
  display: block;
  border-radius: 20px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
.blogArtcileWindow {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: 30%;

  z-index: 0;
  font-size: 24px;
}

.articleTitle {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  font-size: 24px;
  top: 60px;
  opacity: 0.9;
  z-index: 30;
  display: block;
  border-radius: 20px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.articleDate {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-size: 16px;
  font-weight: bold;
}
.articleAuthor {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-style: italic;
  font-size: 18px;
}

.articleArticle {
  display: block;
  position: relative;
  word-wrap: break-word;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-size: 22px;
}

.articlePic {
  height: 300px;
  width: 500px;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}
/* footer start */

/* contact*/
.rightContact {
  background-color: none;
  z-index: 300;
  width: 50%;
  display: inline;
  position: absolute;
}

.googleMap {
  margin-left: 10%;
  display: inline;
}

.footer {
  background-color: lightgrey;
  width: 100%;
  height: 60px;
  text-align: center;
  color: grey;
  z-index: -1;
  position: fixed;

  bottom: 0px;
}

.form-textarea {
  width: 300px;
  height: 300px;
}

/* footer end */

/* MONITOR ANIMATION START */

h2:before {
  color: #ff851b;
  content: "";

  -webkit-animation-name: head;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  position: fixed;
  font-family: monospace;
  top: 330px;
  left: 450px;
  z-index: 1;
}

@-webkit-keyframes head {
  0% {
    font-size: 100%;
    opacity: 0;
    content: "";
  }
  10% {
    font-size: 100%;
    opacity: 1;
    content: "SEARCH ENGINE OPTIMIZATION";
  }
  20% {
    font-size: 100%;
    opacity: 1;
    content: "FREELANCER IN BERLIN";
  }

  30% {
    font-size: 100%;
    opacity: 1;
    content: "ON-PAGE SEO";
  }

  40% {
    font-size: 100%;
    opacity: 1;
    content: "KEYWORD RESEARCH";
  }

  50% {
    font-size: 100%;
    opacity: 1;
    content: "BACKLINK AUDIT";
  }
  60% {
    font-size: 100%;
    opacity: 1;
    content: "TECHNICAL SEO";
  }
  70% {
    font-size: 100%;
    opacity: 1;
    content: "COMPETITOR ANALYSIS";
  }
  80% {
    font-size: 100%;
    content: "ANALYTICS";

    opacity: 1;
  }
  90% {
    font-size: 100%;
    content: "";

    opacity: 1;
  }
}

/* MONITOR ANIMATION END */
