.hey span {
  z-index: 9;
  position: absolute;
  top: 220px;
  font-size: 94px;
  left: 15%;

  text-align: center;
  padding: 5px;
  color: transparent;
  animation: heyThere 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.hey span:nth-child(1) {
  z-index: 14;
}
.hey span:nth-child(2) {
  top: 290px;
  z-index: 14;
}
.hey span:nth-child(3) {
  animation-delay: 2s;
  top: 210px;
  z-index: 13;
}
.hey span:nth-child(4) {
  animation-delay: 2s;
  top: 280px;
  z-index: 13;
}
.hey span:nth-child(5) {
  animation-delay: 4.2s;

  top: 250px;
  z-index: 12;
}
.hey span:nth-child(6) {
  animation-delay: 4.2s;
  top: 320px;
  z-index: 12;
}
.hey span:nth-child(7) {
  animation-delay: 6.4s;
  top: 215px;
  z-index: 11;
}
.hey span:nth-child(8) {
  animation-delay: 6.4s;
  top: 285px;
  z-index: 11;
}
@keyframes heyThere {
  00%,
  70% {
    color: #0e013a;
  }
  70%,
  100% {
    color: #e9e7e7;
    opacity: 0.01;
  }
  100% {
    color: #e9e7e7;
    opacity: 0.01;
  }
}
@-webkit-keyframes heyThere {
  00%,
  70% {
    color: #0e013a;
  }
  70%,
  100% {
    color: #e9e7e7;
    opacity: 0.1;
  }
  100% {
    color: #e9e7e7;
    opacity: 0.1;
  }
}

.bounce-in-top {
  animation: bounce-in-top 3s;
}

.fade-in {
  animation: fade-in 2s;
}

.slide-in-left {
  animation: slide-in-left 2s;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* @media (max-width: 768px) and (orientation: landscape),
  only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hey span {
    top: 190px;
    font-size: 26px;
    margin-left: 150px;
  }

  .hey span:nth-child(1) {
  }

  .hey span:nth-child(2) {
    top: 210px;
    margin-left: 150px;
  }

  .hey span:nth-child(3) {
    top: 200px;
    margin-left: 150px;
  }
  .hey span:nth-child(4) {
    top: 220px;
    margin-left: 160px;
  }
  .hey span:nth-child(5) {
    top: 210px;
    margin-left: 150px;
  }
  .hey span:nth-child(6) {
    top: 230px;
    margin-left: 150px;
  }

  .hey span:nth-child(7) {
    top: 210px;
    margin-left: 140px;
  }

  .hey span:nth-child(8) {
    top: 230px;
    margin-left: 150px;
  }
} */
