.hey span {
  z-index: 9;
  position: absolute;
  top: 250px;
  font-size: 44px;
  margin-left: 270px;

  text-align: center;
  padding: 5px;
  color: transparent;
  animation: heyThere 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.hey span:nth-child(1) {
  z-index: 14;
}
.hey span:nth-child(2) {
  top: 284px;
  z-index: 14;
}
.hey span:nth-child(3) {
  animation-delay: 2s;
  top: 320px;
  margin-left: 290px;
  z-index: 13;
}
.hey span:nth-child(4) {
  animation-delay: 2s;
  top: 350px;
  margin-left: 295px;
  z-index: 13;
}
.hey span:nth-child(5) {
  animation-delay: 4.2s;

  top: 250px;
  margin-left: 280px;
  z-index: 12;
}
.hey span:nth-child(6) {
  animation-delay: 4.2s;
  top: 280px;
  margin-left: 285px;
  z-index: 12;
}
.hey span:nth-child(7) {
  animation-delay: 6.4s;
  top: 315px;
  z-index: 11;
  margin-left: 275px;
}
.hey span:nth-child(8) {
  animation-delay: 6.4s;
  top: 345px;
  margin-left: 279px;
  z-index: 11;
}

@keyframes heyThere {
  00%,
  70% {
    color: #190b28;
  }
  70%,
  100% {
    color: #e9e7e7;
    opacity: 0.01;
  }

  100% {
    color: #e9e7e7;
    opacity: 0.01;
  }
}

@-webkit-keyframes heyThere {
  00%,
  70% {
    color: black;
  }
  70%,
  100% {
    color: #e9e7e7;
    opacity: 0.1;
  }

  100% {
    color: #e9e7e7;
    opacity: 0.1;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
