html {
  height: 100%;
}
/* ul {
  list-style: none;
} */

body {
  margin: 0;
  padding: 0;
}
* {
  font-family: bariolregular;
}

p {
  font-size: 20px;
}
body {
}
.sideLinks {
  position: absolute;
  left: 45px;
  top: 97%;
  padding: 30px;
  width: 15%;
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 25px;
  display: inline;
  position: relative;
}

h3 {
  margin-left: 15%;
  font-size: 16px;
}

.black a {
  color: black;
}
.black a:hover {
  color: darkblue;
}

.block {
  display: block;
  position: relative;
  padding-top: 10px;
  font-size: 20px;
}
h5 {
  margin: 2px;
  display: block;
  font-family: bariolregular;
  margin-left: 19%;
  font-size: 23px;
}
.block2 {
  display: block;
  position: relative;
  font-size: 22px;
  list-style: circle;
  font-family: arial;
}
.blockbold {
  display: block;
  position: relative;
  font-weight: bold;
  font-family: arial;
  color: black;
}
a:hover.blockbold {
  color: black;
}

a:visited {
  text-decoration: grey;
}

a:active {
  text-decoration: grey;
}

a:hover {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

input {
  font-size: 19px;

  width: 70%;
  height: 24px;
  border: black 1px dotted;
}
.inlineWriteBlog {
  display: inline-block;
  position: relative;
}

.inline {
  display: inline;
  position: relative;
}
.blockWriteBlog {
  display: block;
  position: relative;
}
textarea {
  font-size: 16px;
}
textarea.blogArticleInput {
  height: 600px;
  display: block;
  margin-bottom: 2%;
  width: 75%;
  font-size: 16px;
  border: black 1px dotted;
}

.cookienotice {
  padding-top: 20px;
  position: fixed;
  text-align: center;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 3000;
  font-size: 20px;
  width: 100%;
  height: 190px;
  background-color: rgba(100, 100, 100, 0.8);
}
input.blogedit {
  font-size: 19px;
  margin: 4px;
  width: 230px;
  height: 24px;
  border: black 1px dotted;
}

textarea.blogedit {
  font-size: 19px;
  margin: 4px;
  width: 230px;
  height: 24px;
  border: black 1px dotted;
}

select {
  display: block;
  font-size: 16px;
}

label {
  display: block;
  font-size: 18px;
  width: 120px;
  border-radius: 40px;
  padding-left: 10px;
  color: black;
  padding: 12px;
  padding-top: 24px;
}

form {
  display: inline-block;
  position: relative;
  margin-bottom: 5%;
  left: 5%;
  width: 30%;
}

.boost {
  position: relative;
  width: 60%;
  top: 300px;
  margin-left: 20%;
  font-size: 40px;
  z-index: 10;
  color: white;
}

.field {
  display: flex;
  background-color: white;

  width: 100%;

  opacity: 0.8;
  border-radius: 10px;
  border: black 1px dotted;
}

iframe {
  position: relative;
  display: inline-block;
  margin-left: 10%;

  margin-top: 10%;
}

.maincontact2 {
  padding-top: 20px;
  width: 100%;
  min-height: calc(100vh - 160px);
  background-color: rgba(200, 200, 200, 0.2);
}

.map {
  position: relative;
  display: inline-flex;
  width: 65%;
  height: 600px;
  margin-bottom: 30px;
}

.contactpage {
  position: relative;
  display: inline;
  width: 200px;
  height: 400px;
  border-radius: 20px;
  padding: 5px;
  margin-left: 10%;
}
.leftContact {
  position: relative;
  display: inline;
  margin-bottom: 100px;
  color: white;
  width: auto;
  opacity: 0.93;
  height: 400px;
}

.contactmob {
  background-color: white;
}
.rightContact {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  opacity: 0.93;
  height: 400px;
}

.fieldMessage {
  height: 200px;
  border: 1px dotted black;
  width: 100%;
  border-radius: 15px;
}
.contactmeHead {
  font-family: bariolregular;
  color: grey;
  font-size: 30px;
  margin-left: 30%;
  position: relative;
  height: 40px;
  width: 300px;
  top: 10px;
}

.formButton {
  background-color: white;
  text-align: center;
  width: 250px;
  height: 40px;
  color: #383b4b;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15%;
}

/* Navigation Start*/

.success {
  position: absolute;
  color: green;
  top: 60px;
  margin-left: 15%;
  z-index: 20;
  font-size: 300px;
}

.error {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 2000;
  background-color: white;
}

.error2 {
  position: fixed;
  top: 50%;
  left: 20%;
  color: black;

  z-index: 2000;

  font-size: 30px;
}

.main {
}

.services {
  margin-bottom: 120px;
  margin-left: 22%;
}

.auditpages {
  font-size: 24px;
  padding: 10px;
}

.imageAudit {
  width: 85%;
  height: auto;
  position: relative;
  max-height: 420px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.mainBlog {
  background-color: rgba(250, 250, 250, 0.94);
  position: relative;
  margin-top: 10%;
  min-height: calc(100vh - 120px);
}

.mainlogin {
  margin-top: 20%;
}
.mainHP {
  min-height: calc(100vh - 120px);
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  position: relative;
  top: 5px;
  left: 10%;
  z-index: 1;
  opacity: 1;
  display: inline;
}

.languageBtn {
  position: relative;
  display: table;
  top: 28px;
  left: 65%;
  z-index: 100;
}
.languageBtnDE {
  margin-right: 15px;
  font-size: 22px;
  border: 1px black solid;
  padding: 5px;
  color: black;
}
.languageBtnEN {
  color: black;
  font-size: 22px;
  margin-left: 15px;
  border: 1px black solid;
  padding: 5px;
}

/* Dropdown button */

/* Navigation END*/

/* SEO FREELANCERPAGE start */

.intro {
  background-color: white;
  color: black;
  height: auto;
  display: block;
  margin-left: 30px;

  padding: 2px;
  margin-bottom: 40px;
}

.intro3 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: black;
}

.intro4 {
  height: 200px;
  padding-top: 30px;
  margin-left: 13%;
  /* color: #ff5a09; */
  color: black;
  position: relative;
  width: 100%;
  font-size: 50px;
  margin-top: 60px;
  z-index: 1;
  opacity: 1;

  background-color: white;
}

.xtrapad {
  padding-top: 150px;
  padding-bottom: 150px;
}

.icons {
  height: 50px;
  width: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.icon {
  height: 50px;
  width: 50px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.bigicon {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-left: 28%;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.8;
}
.iconsmore {
  margin-left: 90%;
  top: 20px;

  height: 30px;
  width: 40px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.iconphone {
  background-color: white;
  display: inline;
  height: 15px;
  width: 20px;
}
.introContent {
  width: 75%;
}

section {
  width: 100%;
  border-radius: 10px;
}
.HPTitle {
  color: #17252a;
  text-align: center;
  background: white;
  font-size: 20px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 1px;
  height: 30px;
  padding-top: 10px;
  opacity: 0.6;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.HPTitle2 {
  -webkit-animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.HPTitle3 {
  -webkit-animation: slide-in-left 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.homepageNews {
  background-color: white;
  text-align: center;
  color: black;
}

.blogArticlesHP {
  width: 100%;
  z-index: 10;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
}

.blogArticles {
  margin-left: 50px;
  display: block;
  position: relative;
  margin-top: 100px;
}

.blogItem {
  display: block;
  padding-bottom: 35px;
  background-color: #f6f6f6;
  height: 100px;
}
.blogHPtext {
  display: block;
}

.blogItemHP {
  display: block;
  margin: 7px;
  margin-left: 14%;
}

.listArticlesBlogHP {
  display: inline;
  font-size: 24px;
  position: absolute;
  margin-left: 20px;
  height: 100px;
  vertical-align: middle;
}

.listArticlesBlogHP a {
  color: black;
}

.serviceText a {
  color: black;
}

.imageBlogHP {
  display: inline;
  margin-bottom: 1px;
  vertical-align: middle;
  height: 100px;
  width: 200px;
}

.imageBlog {
  display: inline;
  margin-bottom: 1px;
  vertical-align: middle;
  height: 100px;
}

th.imageBlog {
  border: 0px;
}

.container {
  position: relative;
  display: block;
}
.txt {
  font-size: 21px;
  color: black;
  text-align: center;
  margin: 1px;
  margin-top: 2.4rem;
  margin-left: 18%;
  width: 70%;
}

.txt a,
.txt a {
  color: white;
}

.txt2 {
  font-size: 19px;
  color: black;
  margin-left: 4px;
  margin-top: 5px;
  width: 90%;
}

.intro2 {
  margin-left: 11%;
  background-color: none;
  margin-top: 10px;
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  padding: 20px;
  opacity: 0.95;
}

.txt3 {
  font-size: 19px;
  margin-left: 12%;
  margin-top: 3px;
  width: 40%;
}

.txt4 {
  font-size: 25px;
  margin-left: 15%;
  margin-top: 21px;
  list-style: none;
  text-align: left;
  width: 60%;
  color: rgba(70, 70, 70);
}

.txt3 a {
  color: black;
}

.linkToPages {
  position: relative;
  display: block;
  background-color: white;
  z-index: 100;
}

.portrait {
  margin-top: 40px;
  position: absolute;
  margin-left: 40px;
}

.buttonHP2 {
  margin-left: 5%;
  margin-top: 30px;
  width: 10%;
  font-size: 20px;
  background: none;
  color: white;
  border: white 1px solid;
}

.buttonEdit {
  background-color: black;
  color: white;
  left: 9px;
  top: 10px;
  z-index: 10;
  position: relative;
  height: 30px;
  width: 180px;
  font-size: 17px;
  margin-bottom: 10%;

  border-radius: 120px;
  border: white 2px solid;
}

.buttonEdit2 {
  background-color: black;
  color: white;

  bottom: 10%;
  z-index: 10;
  position: relative;
  height: 30px;
  width: 180px;
  font-size: 17px;
  margin-bottom: 10%;

  border-radius: 120px;
  border: white 2px solid;
}

/* BLOG START  */

.leftBlog {
  background-color: rgba(300, 300, 300, 0.92);
  color: lightgrey;
  font-style: bariolregular;
  margin-top: 1%;
  padding: 40px;
  margin-left: 10%;
  font-size: 20px;
  top: 90px;
  display: block;
  position: relative;
  z-index: 2;
  width: 40%;
  height: auto;
  overflow: visible;
}
.leftBlog a:hover {
  color: white;
}

.listArticlesBlog {
  font-size: 26px;
  margin-left: 30px;
  margin-bottom: 20px;
  color: black;
  display: inline;
  position: relative;
}

.importancenews {
  display: inline;
  height: 11px;
  width: 11px;
}

.important {
  font-weight: bold;

  font-size: 23px;
  display: inline;
}
.newsItem {
  display: block;
  padding: 10px;
}

.medium,
.low {
  font-size: 23px;
  display: inline;
}

.infoDate {
  font-size: 10px;
  margin-left: 40%;
}
h4 {
  font-style: bariolregular;
  font-weight: bold;
  top: 100px;
  display: block;
  font-size: 22px;

  z-index: 10;
}
.blogWindow {
  display: block;
  margin-left: 5%;
  position: relative;
  height: 30px;
  top: 150px;

  border-radius: 20px;
}

.articleTitle {
  display: block;
  position: relative;
  margin-top: 10%;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-size: 22px;
}

.articleDate {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-size: 16px;
  font-weight: bold;
}
.articleAuthor {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  font-style: italic;
  font-size: 18px;
}

a.linkServices {
  color: darkblue;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
.articleID {
  display: block;
  position: relative;
  width: 60%;
  margin-left: 30%;
  padding: 5px;
  z-index: 0;
  color: grey;
  font-style: italic;
  font-size: 10px;
}

.articleArticle {
  display: block;
  position: relative;
  word-wrap: break-word;
  width: 60%;
  margin-left: 30%;

  padding: 5px;
  z-index: 0;
  font-size: 22px;
}
.blognote {
  position: absolute;
  bottom: 50px;
  font-size: 14px;
  font-style: italic;
  margin-left: 30%;
  display: block;
}

.blogArticleWindow {
  background-color: rgba(250, 250, 250, 0.96);
  position: relative;
  width: 68%;
  margin-left: 20%;
  margin-right: 2%;
  min-height: calc(100vh - 120px);
}

.articlePic {
  height: 300px;
  width: 500px;
  position: relative;
  z-index: 2;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}
/* footer start */

/* contact*/

.footerflags {
  padding: 5px;
  color: white;
}
.txthead {
  color: black;
  font-size: 27px;
  width: 70%;
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  left: 28px;
  position: relative;
  font-weight: bold;
  font-family: arial;
}

.txthead2 {
  color: black;
  font-size: 27px;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  left: 100px;
  position: relative;
  font-weight: bold;
  font-family: arial;
}

.txthead3 {
  color: black;
  font-size: 24px;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  left: 100px;
  position: relative;
  font-weight: bold;
  font-family: arial;
}

.txthead4 {
  color: black;
  font-size: 24px;
  width: 60%;
  padding-top: 60px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  left: 50px;
  position: relative;
  font-weight: bold;
}

.txtbutton {
  background-color: lightgrey;
  width: 200px;
  color: white;
  font-size: 17px;
  height: 30px;
  margin-top: 50px;
  border-radius: 50px;
}
.txtbutton a:hover {
  color: grey;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  font-size: 18px;
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  display: inline-flex;
  position: relative;
  bottom: 0px;
}
.footerQuarter {
  display: inline;
  width: 33%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.berlin {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
.othercontentHP {
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
}
.background {
  position: absolute;
  top: 100px;
  left: 40%;
  height: 100%;
}
.introQuarter {
  display: inline;
  opacity: 0.95;
  text-align: center;
  background-color: white;
  padding: 10px;
  position: relative;
  z-index: 1;
  min-width: 21%;
}

.serviceQuarter {
  display: inline;
  text-align: center;
  opacity: 0.95;
  min-height: 300px;
  background-color: white;
  padding: 10px;
  min-width: 30%;
}

.introHP {
  color: #001f3f;

  position: relative;
  background-color: white;
  margin-top: 43%;
  width: 90%;
  margin-left: 0px;
  border: white 0px solid;
  text-align: center;
}

.servicesHP {
  margin-top: 50px;
  border: 1px #ff5a09 solid;
  font-size: 27px;
  color: white;
  width: 300px;
  height: 60px;
  background-color: #ff5a09;
  border-radius: 15px;
}

.servicesHP :hover {
  color: #ff5a09;
  background-color: white;
}

.h1hp {
  font-size: 42px;
  font-family: sans-serif;
}

.h2hp {
  font-size: 24px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

.float {
  position: relative;
  -webkit-animation: floatBubble 1s infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes floatBubble {
  from {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  to {
    left: -150px;
    -webkit-animation-timing-function: ease-out;
  }
}

.float2 {
  position: relative;
  -webkit-animation: floatBubble2 2s infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes floatBubble2 {
  from {
    top: 250px;
    -webkit-animation-timing-function: ease-in;
  }

  to {
    top: 365px;
    -webkit-animation-timing-function: ease-out;
  }
}

.seotxt {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
  display: inline;
}

.seotxt p {
  background-color: #lightgrey;
  width: 60%;
  padding: 30px;
  padding-top: 0px;
}

.PDCD {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  display: inline-grid;
  margin-left: 30%;
}
.intro1 {
  position: relative;
  display: inline;
}

.backgroundBlack {
  width: 100%;
  background-color: black;
}

.seotxt {
  position: relative;
  display: inline-block;
}

.logoQuarter {
  display: inline;
  width: 30%;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 20px;
  opacity: 0.7;
  min-height: 300px;
  background-color: none;
  padding: 5px;
}

.footerLinks {
  display: inline-block;
  position: relative;
}

.imageservices {
  margin-left: 30%;
  opacity: 0.6;
}

.footerlink {
  margin-left: 80px;
  position: relative;
  display: block;
  color: white;
}

.footer.a:visited {
  background-color: lightgrey;
  width: 100%;
  height: 30px;
  text-align: center;
  color: grey;
  position: fixed;
  display: inline;
  bottom: 0px;
}

.form-textarea {
  width: 350px;
  height: 220px;
  border: 1px black dotted;
}

/* footer end */

/* MONITOR ANIMATION START */

.imageHPMob {
  display: none;
}

.white {
  color: white;
}

/* MONITOR ANIMATION END */

/* SEOinfoPage start*/
.infoTitle {
  width: 100%;

  z-index: 1;

  position: relative;
}

.infoIntro {
  margin-left: 20%;
  font-size: 36px;
  background-color: none;
  color: #383b4b;
  position: relative;
  top: 0px;
  width: 55%;

  padding: 10px;
  -webkit-animation: fade-in 9.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 9.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.infoMain {
  padding-left: 40px;
  margin-top: 50px;
  font-size: 22px;
  margin-left: 30%;
  font-size: 20px;
  border: 1px solid white;
  background-color: #f8f8f8;
  position: relative;
  height: auto;
  color: black;
  width: 30%;
  text-align: center;
  padding: 70px;

  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.toggleMan {
  z-index: 100;
}
.infoMain a {
  color: black;
}

.infoMain2 {
  margin-left: 30%;
  font-size: 20px;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
  width: 60%;
  padding: 5px;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.message404 {
  color: purple;
  font-size: 150px;
  background-color: #586069;
}

.box404 {
  width: 100%;
  top: 120px;
  left: 0;
  height: 100%;
  position: fixed;
}

/* ABOUT start*/

.text-blur-out {
  -webkit-animation: text-blur-out 2.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-blur-out 2.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 100;
  background-color: white;
}

.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 30px;
  vertical-align: middle;
  z-index: 100;
}

.toolbar_logo {
  margin-left: 2rem;
  margin-top: 3.3rem;
  height: 80px;
  width: 90px;
}

.toolbar_navigation_items {
}

.toolbar_navigation_items ul {
  list-style: none;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 15px;
  background-color: white;
  height: 30px;
}

.languageBtn a:hover {
  color: white;
  background-color: black;
}

.langselected {
  color: white;
  background-color: black;
}
.breadcrumb a {
  color: black;
  font-size: 24px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 5px;
}

.breadcrumb {
  position: relative;
  top: 80px;
  z-index: 1;
  margin-bottom: 60px;
  margin-top: 20px;
}

.breadcrumb a:hover {
  font-style: italic;
}
.center {
  text-align: center;
}

.marginright {
  margin-top: 45px;
  margin-right: 6%;
  width: 80%;
}

.toolbar_navigation_items li {
  padding: 0.3rem;
  background-color: white;
  height: 20px;
  width: 110px;
  top: 5px;
}

.toolbar_navigation_items a {
  color: black;
  width: 70px;
  text-decoration: none;
  background-color: white;
  padding: 1px 15px;
}
.toggle-button {
  display: flex;
  z-index: 300;
  flex-direction: column;
  height: 26px;
  width: 26px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}
.toolbar_toggle_button {
  position: fixed;
  left: 90%;
  top: 20px;
  z-index: 100;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button_line {
  width: 30px;
  height: 1px;
  padding: 1px;
  background: black;
}
.side span {
  color: white;
}
.side-drawer {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  list-style: none;
  background-color: rgba(20, 20, 20, 0.8);
  transform: translateX(-100);
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.side-drawer li {
  margin: 0.5rem 0.5rem;
}

.side-drawer a {
  color: rgba(196, 196, 196);
}

.side-drawer a:hover {
  color: white;
  width: 100%;
}

.side_drawer a:visited {
  color: rgba(196, 196, 196);
}
.blockAbout {
  text-align: center;
  margin-bottom: 3px;
  margin-left: 10%;
  width: 20%;
  padding: 15px;
  position: relative;
  display: block;
  color: black;
  background-color: white;
  font-size: 22px;
  border-radius: 20px;
}

.blockAbout:hover {
  color: white;
  background-color: black;
}

.resourcesLink:hover {
  color: white;
  background-color: black;
}

.resourcesLink:hover a {
  color: white;
  background-color: darkred;
}

.blockAbout:hover a {
  color: white;
  background-color: black;
}

.side_drawer#dropbtn {
  margin-top: 20px;
  color: red;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}

.textblurout {
  -webkit-animation: text-blur-out 2.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-blur-out 2.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.logoAnimationServices {
  height: 80px;
  width: 80px;
  position: relative;
  top: -60px;
  margin-left: 75%;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  -webkit-animation: bounce-in-top 1s both;
  animation: bounce-in-top 1s both;
}
.leftServices {
  left: 160px;
  display: block;
  position: relative;
  width: 60%;

  opacity: 0.9;
  margin-top: 10%;
}

.main2 {
  margin-top: 10%;
}

.serviceText {
  font-size: 21px;
  width: 70%;
}

.h1services {
  color: #ff5a09;
  position: relative;
  width: 100%;
  font-size: 59px;
  margin-bottom: 10px;
  z-index: 1;
  opacity: 1;
}

.serviceImage {
  margin-left: 30%;
  width: 150px;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.serviceTitle {
  font-weight: bold;
  margin-top: 30px;
  font-family: arial;
  font-size: 23px;
  margin-left: 5%;
}
.listServices {
  color: black;
  padding: 25px;
  margin: 3px;
  border-radius: 20px;
  font-size: 21px;
  width: 70%;
  background-color: white;
  text-align: center;
}

table th {
  width: 190px;
  border: black 1px solid;
  padding: 10px;
}

.mainrow {
  background-color: lightgrey;
}
.listServices:hover {
  color: white;
  background-color: black;
}

.listServices:hover a {
  color: white;
  background-color: black;
}

.resourcesLinks {
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.resourcesLinks a {
  color: black;
  font-size: 21px;
  margin-left: 5%;
}

.linksToSections {
  background-color: grey;
  margin-left: 10%;
  width: auto;
}

.center {
  text-align: center;
}

.traffic {
  margin-left: 15%;
}

.linkedin {
  margin-top: 30%;
}

.linkstoPageMainDiv {
  font-size: 15px;
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.linkstoPageMainDiv a {
  color: white;
  padding: 3px;
}
.linkstoPageMainDiv li {
  list-style: none;
  padding: 1px;
}
.intro21 {
  margin-left: 13%;
  background-color: none;
  margin-top: 10px;
  opacity: 0.95;
  position: relative;
  width: 70%;
  display: flex;
  padding: 20px;
}

h2.orange {
  color: #ff6e00;
  font-size: 45px;
  margin-top: 0px;
  padding-top: 10px;
}

.blackbgwhite {
  background-color: black;
  color: white;
}

.orange a {
  color: #ff5a09;
}
