<section class="case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-8-desktop">

                    <div class="boxcolor"><br>
                        <h1 class="h1HP is-white has-text-centered">{{{__ "exblog"}}} • Resources: Case Studies</h1><br>
                    </div><br>

                    <br>


                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}"> {{{__ "services"}}} </a></li>

                            <li><a href="">Case Studies</a></li>
                        </ul>
                    </nav>
                    <br>

                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">


                        {{>blogcase}}

                    </div><br><br>
                    {{>socsharblog}}<br>
                    {{>articlesCTA}}
                </div>
            </div>
        </div>
    </section>
</section>