<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">SEO Freelance</h1><br>
                    </div><br>

                    <hr>
                    <h2 class="is-red title h2HP is-heavy boost-margin has-text-centered">SEO Freelance services for Ad-hoc SEO tasks or monthly support</h2>

                    <div class="columns is-centered has-text-centered">
                        <div class="column is-10"> <span class="subtitle is-5 is-red">{{{__ ""}}}</span> </div>
                    </div>
                </div>
            </div>




            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered boost-margin">
                    <div class="columns is-centered has-text-centered is-multiline pill-list">
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Research</span> </div>
                        </div>
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Onpage SEO</span> </div>
                        </div>


                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Technical SEO
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Backlink Analysis
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Ad-hoc Tasks
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Reporting & Analytics
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {{>seoservices}}
            {{>contactquote}}
            {{>otherservices}}


        </div>
    </div>
</section>




{{>results}}




<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 id="clients" class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>


            <hr>{{>clients}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials}}</div>
        </div>
    </div>
</section>