<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">SEO Wordpress and SEO Wix</h1><br>
                    </div><br>

                    <div class="columns is-centered has-text-centered">
                        <div class="column is-10"> <span class="subtitle is-5 is-red">{{{__ "wordPress"}}}</span> </div>
                    </div>
                </div>
            </div>
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered boost-margin">
                    <div class="columns is-centered has-text-centered is-multiline pill-list">
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Research</span> </div>
                        </div>
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Onpage SEO</span> </div>
                        </div>


                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Competitor Analysis
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Reporting
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">SEO Strategy and Roadmap
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
{{>contactquote}}

<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">


            <hr>{{>clients}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials}}</div>
        </div>
    </div>
</section>