<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  >
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   >AMP</h1><br>
                    </div><br>
                </div>
                <br>

                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">



                        <h2 class="title is-4 is-heavy">{{{__ "definition"}}}</h2>
                        <p>{{{__ "amppagesMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
<!doctype html>
&lt;html amp lang="en">

&lt;head>
&lt;meta charset="utf-8">
&lt;script async src="https://cdn.ampproject.org/v0.js"></script>
&lt;title>Hello, AMPs&lt;/title>
&lt;link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
&lt;meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
&lt;script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "Open-source framework for publishing content",
    "datePublished": "2015-10-07T12:02:41Z",
    "image": [
        "logo.jpg"
    ]
}
        &lt;/script>
        &lt;style amp-boilerplate>
            body {
                -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                animation: -amp-start 8s steps(1, end) 0s 1 normal both
            }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
                }

                to {
                    visibility: visible
                }
            }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
                }

                to {
                    visibility: visible
                }
            }

            @-ms-keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }

            @-o-keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }

            @keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }
            }
        &lt;/style>&lt;noscript>
            &lt;style amp-boilerplate>
                body {
                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    animation: none
                }
            &lt;/style>
        &lt;/noscript>
    &lt;/
    &lt;body>
        &lt;h1>Welcome to the mobile web&lt;/h1>
    &lt;/
    &lt;/html>
                        </pre>

                        <h2 class="title is-4 is-heavy">Images </h2>


                        <pre>
&lt;amp-img src="welcome.jpg" alt="Welcome" height="400" width="800"></amp-img>
                        </pre>

                        <h2 class="title is-4 is-heavy">Linking</h2>


                        <pre>
Add the following to the non-AMP page:

&lt;link rel="amphtml" href="https://www.example.com/url/to/amp/document.html">

And this to the AMP page:

&lt;link rel="canonical" href="https://www.example.com/url/to/full/document.html">
                        </pre>


                        <br><br><br>


                        <br>


                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>
                <br><br><br>

            </div>

    </section>
</div>