<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor" data-aos="fade-in">
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Google Updates</h1><br>
                    </div><br>
                    
                    
                    
                    
                    <br><br><br><br>
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            
                            
                            

                        </ul>
                    </nav><br>
                </div>
                <br>

                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">




                        <p>Last Major Google Core Update: <b>December 3rd 2020</b></p><br>
                        <img src="/images/GoogleUpdate1.png" /><br>
                        <img src="/images/GoogleUpdate2.png" /><br>


                        <br><br>

                        <p> Next major update: <a href="https://developers.google.com/search/blog/2020/11/timing-for-page-experience">Experience Update</a> planned for <b>May 2021</b><br><br>
                        <p> {{{__ "googleupdate"}}}
                        </p>








                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>
                <br><br><br>

            </div>

    </section>
</div>