<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "searchvolume"}}} </h1><br>
                    </div><br>
                </div><br>
                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">
                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "searchvolumeMP"}}}</p><br><br><br><br>
                    </div>
                    {{>lexical}}<br><br>{{>articlesCTA}}
                </div><br><br><br>
            </div>
    </section>
</div>