<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  ><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   >SEO Budget</h1><br>
                    </div><br>
                    
                    
                    
                    
                    <br><br><br><br>
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            
                            
                            
                        </ul>
                    </nav><br>
                </div><br>
                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop"><br>
                    </div>{{>lexical}}<br><br>{{>articlesCTA}}
                </div> <br><br><br>
            </div>
    </section>
</div>