<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  ><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   > {{{__ "suchmaschinen"}}}</h1><br>
                    </div><br>
                </div><br>
                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">
                        <p>über Google</p>
                        <h2 class="title is-2 is-heavy">5 In Germany</h2>
                        <h3 class="title is-3"> Ecosia</h3>
                        <h3 class="title is-3"> DuckDuckGo</h3>
                        <h3 class="title is-3"> Bing</h3>
                        <h3 class="title is-3"> Yahoo</h3>
                        <h3 class="title is-3"> Ask</h3><br>
                        <h2 class="title is-2 is-heavy">5 Outside Germany</h2>
                        <h3 class="title is-3"> Baidu</h3>
                        <h3 class="title is-3"> Soso</h3>
                        <h3 class="title is-3"> Sogou</h3>
                        <h3 class="title is-3"> Youdao</h3>
                        <h3 class="title is-3"> Yandex</h3><br>
                    </div>
                    {{>lexical}}<br><br>{{>articlesCTA}}
                </div><br><br><br>
            </div>
    </section>
</div>